@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import url(select2.min.css);
@import url(select-custom.css);
@import url(dropzone.css);
@import url(dropzone-custom.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Karla:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700|DM+Sans&display=swapi&display=swap);

/* colors */

$transparent-color: transparent;

$white-color: rgba(255,255,255,1);
$white-color2:rgba(242,242,246,1);
$white-color3:rgba(227,228,233,1);

$white-color-80: rgba(255,255,255,0.8);
$white-color-50: rgba(255,255,255,0.5);
$white-color-40: rgba(255,255,255,0.4);
$white-color-30: rgba(255,255,255,0.3);


$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);
$lightblack-color20:rgba(0,0,0,0.2);


$primary-color1: rgba(3,216,224,1);
$secondary-color1: rgba(234,38,117,1);
$secondary-color20: rgba(234,38,117,0.2);
$secondary-color15: rgba(234,38,117,0.15);

$dark-color1: rgba(14, 16, 43,1);
$dark-color2: rgba(26, 29, 60,1);
$dark-color3: rgba(40, 43, 76,1);
$dark-color4: rgba(55, 59, 105,1);

$dark-color30: rgba(14,16,43,0.3);

$status-color1: rgba(88,227,44,1);
$status-color2: rgba(234,211,30,1);
$status-color3: rgba(228,27,27,1);

$plan-color:rgba(234,38,117,1);
$produce-color:rgba(60,223,142,1);
$produce-color20:rgba(60,223,142,0.2);
$publish-color:rgba(80,196,255,1);
$track-color:rgba(211,52,255,1);

$sub-color1: rgba(56,221,229,1);
$sub-color2: rgba(11,15,50,1);
$sub-color3: rgba(55,59,105,1);
$sub-color4: rgba(231,46,128,1);

/* End of colors */


/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; 
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'IBM Plex Mono', monospace; */
}
body { 
    font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: 'DM Sans', sans-serif; scroll-behavior: smooth; overflow-x: hidden;
}

.wrapper { 
    background-color: $dark-color1; display: block; height: 100%; min-height: 100vh;
}

.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.5s ease-in-out; }

.container { max-width: 1200px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.ml-5{ margin-left: 5px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px; }
.p0{ padding: 0px !important; }

.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px !important; }
.mb-28{ margin-bottom: 28px; }
.mb-50{ margin-bottom: 50px; }
.mb-80{ margin-bottom: 80px; }
.mr-40{ margin-right:40px; }

.display-inline{ display: inline-block; }

/* Add SVG Icons */

.rightarrow-icon {
    -webkit-mask: url(../images/icons/rightarrow-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/rightarrow-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 14px; height: 10px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.plus-icon {
    -webkit-mask: url(../images/icons/plus-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/plus-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 10px; height: 10px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.diamond-icon {
    -webkit-mask: url(../images/icons/diamond-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/diamond-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 26px; height: 24px; color: $secondary-color1; fill: $secondary-color1; background-color: $secondary-color1;
}

.delete-icon {
    -webkit-mask: url(../images/icons/delete-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/delete-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 12px; height: 14px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.video-icon {
    -webkit-mask: url(../images/icons/video-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/video-icon.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 18px; height: 14px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.audio-icon {
    -webkit-mask: url(../images/icons/audio-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/audio-icon.svg) no-repeat 50% 50%;
    display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 16px; height: 32px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.audio-icon2 {
    -webkit-mask: url(../images/icons/audio2-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/audio2-icon.svg) no-repeat 50% 50%;
    display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 16px; height: 16px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.text-icon {
    -webkit-mask: url(../images/icons/text-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/text-icon.svg) no-repeat 50% 50%;
    display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 20px; height: 26px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.image-icon {
    -webkit-mask: url(../images/icons/image-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/image-icon.svg) no-repeat 50% 50%;
     display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 25px; height: 18px; color: $white-color; fill: $white-color; background-color: $white-color;
}

.list-icon {
    -webkit-mask: url(../images/icons/list-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/list-icon.svg) no-repeat 50% 50%;
    display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 16px; height: 16px; color: $white-color; fill: $white-color; background-color: $dark-color3; opacity: 0.6;
}

.remove-icon {
    -webkit-mask: url(../images/icons/remove-icon.svg) no-repeat 50% 50%;
    mask: url(../images/icons/remove-icon.svg) no-repeat 50% 50%;
    display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 12px; height: 12px; color: $white-color; fill: $white-color; background-color: $dark-color3;
}


/* End of SVG Icons */

/* Stylesheet_section */

.stylesheet-section{ padding: 0 0 70px 0; margin: 0 0 0px 0; position: relative;  
    .stylesheet-div{ 
        padding: 0; margin: 0;
        .heading-div{ 
            padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .colorbox-root{
            padding: 70px 0 0 0; margin: 0;
        }
        .colorbox-verticle-root{
            .colorrow-div{ flex-direction: column;  }
            .colorbox-rowdiv{ margin: 0 0 15px 0; }
            .color-round{ padding: 0px 0 0 0; margin: 0; display: flex; align-items: flex-start;
                span.text-name {
                    color: $white-color; font-family: "IBM Plex Mono"; font-size: 18px;    line-height: 28px; padding: 18px 0 0 8px; 
                }
                .colorfill-span{
                    height: 40px; width: 40px;
                }
            }
        }
    }
    .typography-root{
        padding: 50px 0 0 0; margin: 0;
        .heading-div{
            padding: 0 0 10px 0;
            margin: 0 0 10px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
    .element-root{
        padding: 50px 0 30px 0; margin: 0;
        .containers-box-root { 
            margin: 30px 0 70px 0; height: 285px; width: 75%; border-radius: 24px; background-color: $dark-color2; display: block; position: relative;
            .four-card-box {
                display: flex; padding: 0; margin: 0; position: absolute; bottom: -70px; right: -70px;
                .containersbox{
                    height: 104px;	width: 115px;	border-radius: 16px; margin: 24px 12px;
                    box-shadow: 0 4px 20px 0 $lightblack-color20;
                }
            }
        }
        .border-box-root{
            margin: 30px 0 0 0; 

        }
    }
    .button-section{
        padding: 50px 0 0 0; margin: 0;
    }
}

.colorrow-div{ padding: 0; margin: 0 0 60px 0; display: flex;
    h3{ padding: 0; margin: 0 0 15px 0; }
    
    .colorbox-col{
        padding: 0 100px 0 0; margin: 0;
        &:last-child{
            padding-right: 0px;
        }
    }    
}

.color-round {
    .colorfill-span{ margin: 12px 15px 0px 0; height: 48px; width: 48px; display: inline-block; border-radius: 100%; }
}

/* background color */

.colorfill-span{ background-color: $white-color; }

.colorfill-primary1{ background-color: $primary-color1; }

.colorfill-white1{ background-color: $white-color; }
.colorfill-white2{ background-color: $white-color2; }
.colorfill-white3{ background-color: $white-color3; }

.colorfill-dark1{ background-color: $dark-color1; }
.colorfill-dark2{ background-color: $dark-color2; }
.colorfill-dark3{ background-color: $dark-color3; }
.colorfill-dark4{ background-color: $dark-color4; }

.colorfill-secondary1{ background-color: $secondary-color1; }

.colorfill-status1{ background-color: $status-color1; }
.colorfill-status2{ background-color: $status-color2; }
.colorfill-status3{ background-color: $status-color3; }

.colorfill-plan{ background-color: $plan-color; }
.colorfill-produce{ background-color: $produce-color; }
.colorfill-publish{ background-color: $publish-color; }
.colorfill-track{ background-color: $track-color; }

.backgroundbox1{ background-color: $dark-color3; }
.backgroundbox2{ background-color: rgba(26,29,60,1); }

.backgradiant1{ background: linear-gradient(149.32deg, rgba(111,12,61,1) 0%, rgba(54,59,114,1) 100%);	box-shadow: 0 10px 40px 0 rgba(0,0,0,0.5); }
.backgradiant2{ background: linear-gradient(177.29deg, rgba(111,12,61,1) 0%, rgba(40,43,76,1) 100%);	box-shadow: 0 10px 40px 0 rgba(0,0,0,0.5); }

/* End of background color */

.border-white1{ border: 1px solid $white-color; }

.border-box-root{ width: 140px; }

.border-bottom1{  border-bottom: 1px solid $white-color-50; }
.border-bottom2{  border-bottom: 1px solid $white-color-30; }
.border-bottom3{  border-bottom: 1px solid $lightblack-color; }

.border-padding15{ padding: 15px;background-color: $dark-color3; }

/* font color */

.color-primary{ color: $primary-color1 !important; }
.color-white80{ color: $white-color-80 !important; }
.color-sub4{ color: $sub-color4 !important; }

/* End of font color */

/* End of stylesheet-section */

h1{ padding: 0; margin: 0 0 10px 0; font-size: 48px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; }
h2{ padding: 0; margin: 0 0 10px 0; font-size: 36px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; }
h3{ padding: 0; margin: 0 0 10px 0; font-size: 24px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; }
h4{ padding: 0; margin: 0 0 10px 0; font-size: 20px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; }
h5{ padding: 0; margin: 0 0 10px 0; font-size: 18px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; }
h6{ padding: 0; margin: 0 0 10px 0; font-size: 14px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; }

p{ padding: 0; margin: 0; font-size: 18px; font-family: "IBM Plex Mono"; color: $white-color; line-height: 28px;  }
p.small-text{ padding: 0; margin: 0; font-size: 12px; color: $white-color;  }
.small-p{ padding: 0; font-size: 12px; color: $white-color;  }

.position-initial{ position: initial; }
.span-block { display: block; }

.opacity80{ opacity: 0.8 !important; }
.opacity60{ opacity: 0.6 !important; }
.opacity40{ opacity: 0.4 !important; }
.opacity30{ opacity: 0.3 !important; }
.opacity25{ opacity: 0.25 !important; }
.opacity20{ opacity: 0.2 !important; }
.opacity15{ opacity: 0.15 !important; }

.line-height20{ line-height: 20px; }

/* Button */

.btn.btn-custom1{ 
    padding: 10px 15px; min-height: 44px; min-width: 195px;	background-color: $transparent-color; color: $primary-color1;	 font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $primary-color1; border-radius: 30px; box-shadow: inset 0 0 10px 0 rgba(3,216,224,0.4), 0 0 28px 10px rgba(3,216,224,0.18), 0 2px 10px 0 rgba(3,216,224,0.4); letter-spacing: 1px;
    // cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto !important;
    &:hover, &:focus{
        box-shadow: none; background-color: $primary-color1; color: $dark-color1;
    }
}

.btn.btn-custom2{ 
    padding: 10px 15px; min-height: 56px; min-width: 190px;	background-color: $transparent-color; color: $primary-color1;	 font-size: 20px;	font-weight: 700;	line-height: 26px;	text-align: center; transition: all 0.8s;
    border: 2px solid $primary-color1; border-radius: 30px;  box-shadow: inset 0 0 10px 0 rgba(3,216,224,0.4), 0 0 28px 10px rgba(3,216,224,0.18), 0 2px 10px 0 rgba(3,216,224,0.4); letter-spacing: 1px;
    &:hover, &:focus{
        box-shadow: none; background-color: $primary-color1; color: $dark-color1;
    }
}

.btn.btn-big{
    padding: 10px 15px !important; min-height: 44px !important; 
}

a.btn.btn-link2{
   padding: 0; color: $secondary-color1; font-family: "IBM Plex Mono";	font-size: 16px; font-weight: bold;	line-height: 20px;   text-decoration: underline; transition: 0.5;
    &:hover, &:focus{
        box-shadow: none; text-decoration: none; color: rgba(234, 38, 117, 0.8);
    }
}

a.btn.white-btn-link{
    padding: 0; color: $white-color-80; font-family: "IBM Plex Mono";	font-size: 12px; font-weight: 500;	line-height: 16px;   text-decoration: underline;  transition: 0.5;
     &:hover, &:focus{
        box-shadow: none; text-decoration: none; color: $white-color;
    }
 }

/* custom button */

.btn.btn-primary-outline-large{ 
    padding: 7px 30px; margin: 0 0 10px 0; min-height: 44px;  	background-color: $transparent-color; color: $primary-color1;	 font-size: 20px;	font-weight: 700;	line-height: 26px;	text-align: center; transition: all 0.8s;
    border: 2px solid $primary-color1; border-radius: 30px; box-shadow: inset 0 0 10px 0 rgba(3,216,224,0.4), 0 0 28px 10px rgba(3,216,224,0.18), 0 2px 10px 0 rgba(3,216,224,0.4); letter-spacing: 1px;
    &:hover, &:focus{
        box-shadow: none; background-color: $primary-color1; color:$dark-color4;
    }
}

.btn.btn-primary-outline-small{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: $transparent-color; color: $primary-color1;	 font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $primary-color1; border-radius: 30px; box-shadow: inset 0 0 10px 0 rgba(3,216,224,0.4), 0 0 28px 10px rgba(3,216,224,0.18), 0 2px 10px 0 rgba(3,216,224,0.4); letter-spacing: 1px;
    .rightarrow-icon{ background-color: $primary-color1; transition: 0.5s; margin: -1px 0 0 5px; }
    &:hover, &:focus{
        box-shadow: none; background-color: $primary-color1; color:$dark-color4;
        .rightarrow-icon{ background-color: $dark-color3; }
    }
}

.btn.btn-primary-filled{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px;  background-color: $primary-color1; color:$dark-color4;	 font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $primary-color1; border-radius: 30px; box-shadow: inset 0 0 10px 0 rgba(3,216,224,0.4), 0 0 28px 10px rgba(3,216,224,0.18), 0 2px 10px 0 rgba(3,216,224,0.4); letter-spacing: 1px;
    &:hover, &:focus{
        box-shadow: none;
    }
}

.btn.btn-secondary-outline{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: $transparent-color; color: $white-color;	 font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $white-color-50; border-radius: 30px; letter-spacing: 1px;
    &:hover, &:focus{
        box-shadow: none; background-color: $white-color-80; color:$dark-color3;
    }
}

.btn.btn-pink-outline{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: $secondary-color20; color: $secondary-color1;	 font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $secondary-color1; border-radius: 30px; letter-spacing: 1px; box-shadow: inset 0 0 10px 0 rgba(234,38,117,0.4), 0 0 28px 10px rgba(234,38,117,0.15), 0 2px 10px 0 rgba(234,38,117,0.4);
    .plus-icon{ margin: 0 4px 0 5px; transition: 0.5s; height: 11px; width: 11px; }
    &:hover, &:focus{
        box-shadow: none; background-color: $secondary-color1; color: $dark-color3; 
        .plus-icon{ background-color: $dark-color3; }
    }
}

.btn.btn-green-outline{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: $transparent-color; color: $produce-color;	 font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $produce-color; border-radius: 30px; letter-spacing: 1px; box-shadow: inset 0 0 10px 0 rgba(60,223,142,0.4), 0 0 28px 10px rgba(88,227,44,0.18), 0 2px 10px 0 rgba(60,223,142,0.4);
    &:hover, &:focus{
         background-color: $produce-color; color: $dark-color3; 
    }
}

.btn.btn-white-outline{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: $transparent-color; color: $white-color; font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $white-color; border-radius: 30px; letter-spacing: 1px;  box-shadow: inset 0 0 10px 0 rgba(255,255,255,0.4), 0 0 28px 10px rgba(215,247,248,0.12), 0 2px 10px 0 rgba(255,255,255,0.4);
    //box-shadow: inset 0 0 10px 0 rgba(60,223,142,0.4), 0 0 28px 10px rgba(88,227,44,0.18), 0 2px 10px 0 rgba(60,223,142,0.4);
    &:hover, &:focus{
        box-shadow: none; background-color: $white-color; color: $dark-color3; 
    }
}

.btn.btn-white-filled{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: $white-color; color: $dark-color3; font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid $white-color; border-radius: 30px; letter-spacing: 1px;  box-shadow: inset 0 0 10px 0 rgba(255,255,255,0.4), 0 0 28px 10px rgba(215,247,248,0.12), 0 2px 10px 0 rgba(255,255,255,0.4);
    // box-shadow: inset 0 0 10px 0 rgba(60,223,142,0.4), 0 0 28px 10px rgba(88,227,44,0.18), 0 2px 10px 0 rgba(60,223,142,0.4);
    &:hover, &:focus{
        box-shadow: none; background-color: $white-color; color: $dark-color3; 
    }
}

.btn.btn-remove-filled{ 
    padding: 4px 20px; margin: 0 0 10px 0; min-height: 32px; background-color: rgba(14,16,43,0.3); color: $white-color; font-size: 16px;	font-weight: 700;	line-height: 21px;	text-align: center; transition: all 0.8s;
    border: 2px solid rgba(14,16,43,0.3); border-radius: 30px; letter-spacing: 1px; 
    &:hover, &:focus{
        box-shadow: none; background-color:  rgba(14,16,43,0.8); 
    }
}

.bluebox-viewbutton{
    width: auto; padding: 15px 20px 5px 20px; border-radius: 8px;	background-color: $dark-color2; display: inline-block;
}

.btn.btn-full-icon{
    width: 100%; display: flex; position:relative;
    span.rightfixed-icon {
        position: absolute; right: 0; top: 0; right: 15px; top: 8px;
    }
}

.btn.btn-white-filled.btn-full-icon{
    .rightarrow-icon{ background-color: $dark-color3; top: 10px; }
}
.btn.btn-remove-filled.btn-full-icon{
    border:none;
}
.btn.btn-white-outline.add_field_button {
    padding: 4px 15px; margin: 0px 0 15px 0;
    .plus-icon.icon-span { mask-size: contain; -webkit-mask-size: contain; margin: -1px 0 0 0; transition: 0.5s; }
    &:hover, &:focus{
        .plus-icon.icon-span { background-color: $dark-color3; }
    }
}

.btn-prepared-btn{
    .btn.btn-white-filled.btn-big {
        padding: 4px 30px !important; font-size: 20px;
    }
}

/* End of custom button */

/* End of Button */

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }
.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

/* select2 */

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid transparent !important; border-radius: 0px; min-height: 40px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: auto; -webkit-appearance: none; background: transparent; position: relative; border-radius: 10px; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        &::before{ content: ""; -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
    }    
}

.select-custom-view{
    span.select2-selection.select2-selection--single { border: 1px solid transparent !important; border-radius: 0px; min-height: 40px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: auto; -webkit-appearance: none; background: transparent; position: relative; border-radius: 10px; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        &::before{ content: ""; -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
    }    
}

.select2.select2-container .select2-selection{ border-radius: 0; }
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: $white-color2; color: $sub-color2; font-weight: 600; }
.select2-results__option { padding: 10px; color: $dark-color2;	font-family: "DM Sans"; font-weight: 600; }
.select2-container .select2-dropdown { background: transparent; border: none; margin-top: 0px; border: 1px solid #FAFAFA; border-radius: 10px; }
.select2-results__option:first-child{ border-radius: 6px 6px 0px 0px;  }
.select2-results__option:last-child{ border-radius: 0px 0px 6px 6px ;  }
.select2-container .select2-dropdown .select2-results ul {  border: none; border-radius: 6px; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color: $white-color2; color: $sub-color2; font-weight: 600; }
.select2.select2-container .select2-selection .select2-selection__rendered { color: #1D61F6; line-height: 32px; padding-right: 50px; }

/* end of select2 */

/* select2 multiple */

.select2.select2-container .select2-selection--multiple {
    height: auto; min-height: 145px; width: 100%; padding: 8px 10px 8px 10px; color: $dark-color1;	 font-size: 18px;	 font-weight: 700;	 line-height: 24px; font-family: "DM Sans"; border: 1px solid $white-color; border-radius: 6px; background-color: rgba(255,255,255,0.94); transition: 0.8s;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,1), inset 0 0 0 3px rgba(14,16,43,0.2), 0 0 4px 2px rgba(255,255,255,0.5); margin: 0 0 0 0;
    &:hover{
        box-shadow: inset 0 0 0 1px $white-color, inset 0 0 0 3px $dark-color2, 0 0 4px 2px rgba(255,255,255,0.5);
    }
}

.select2-container--focus.select2-container--open .select2-selection--multiple{
    color: $dark-color1;	 font-size: 18px;	 font-weight: 700;	 line-height: 24px; font-family: "DM Sans"; border: 1px solid $white-color; border-radius: 6px !important; background-color: rgba(255,255,255,0.94); 
    background-color: $white-color; box-shadow: inset 0 0 0 1px $white-color, inset 0 0 0 3px $dark-color2, 0 0 4px 2px rgba(255,255,255,0.5);
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    border: none; border-radius: 16px; margin: 8px 8px 0 0; padding: 0 28px 0 8px; min-height: 26px; line-height: 26px; font-size: 12px; position: relative; background-color: $white-color2; 
    color: $sub-color2; font-family: "DM Sans"; font-size: 16px; font-weight: 700; line-height: 22px; display: flex; align-items: center;
}

.select2-selection__choice {
    border: none; border-radius: 16px; margin: 8px 8px 0 0; padding: 0 28px 0 8px; min-height: 26px; line-height: 26px; font-size: 12px; position: relative; background-color: $white-color2 !important; 
    color: $sub-color2; font-family: "DM Sans"; font-size: 16px; font-weight: 700; line-height: 22px; display: flex; align-items: center;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field { 
    margin-top: 0; height: 42px; font-family: "DM Sans"; font-size: 16px; font-weight: 700; line-height: 22px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove { 
    position: absolute; top: 1px; right: 2px; left: auto; height: 22px; width: 22px; margin: 0; text-align: center; color: $sub-color3; font-weight: 700; font-size: 24px; border-radius: 24px; 
}

/* End of select2 multiple */

/* select2 single */

.select-single-group{
    .select2.select2-container .select2-selection{ margin: 0; height: 36px; }
    .select2-selection{ background-color: $transparent-color; border: none !important; border-bottom: 2px solid #373B69 !important;  }
    .select2.select2-container .select2-selection .select2-selection__arrow{ background-color: $transparent-color; border: none !important; display: flex; align-items: center; justify-content: center; width: auto; padding-top: 10px; }
    .select2.select2-container .select2-selection .select2-selection__rendered { color: $white-color; font-family: "DM Sans"; font-size: 24px; font-weight: bold; line-height: 36px; padding-left: 0px;  }
    .select2.select2-container.select2-container--open .select2-selection.select2-selection--single { background: $transparent-color; }
    .select2-container .select2-dropdown { margin: 10px 0 0 0; outline: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{ border: none; left: auto; top: auto;    
        -webkit-mask: url(../images/icons/dropdown-arrow.svg) no-repeat 50% 50%;
        mask: url(../images/icons/dropdown-arrow.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 8px; height: 15px; fill: $primary-color1; background-color: $primary-color1;
    }
}

/* End of select2 single */

/*  End of general css */

/* header */

header{
    position: relative; 

    .header-div { 
        padding: 0; margin: 0; background-color: $dark-color2; position: absolute; z-index: 999; width: 100%; min-height: 75px; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7); transition: all 0.5s; 
        .header-container{ margin: 0 -15px; display: flex; justify-content: space-between; }

        .logo-div { 
            padding: 0px 10px 0px 10px; margin: 0; display: flex; align-items: center; min-height: 75px; min-width: 75px; justify-content: center;
            .logo_link{ padding: 0px 0px 0px 0px; margin: 0; display: flex; }
            .logo_img{ width: 50px; height: 50px; }
        }
        
     

        .nav-right-div{
            padding: 0 0px 0px 0px; margin: 0; display: flex; align-items: center; min-height: 75px; min-width: 75px; 
            .menu-trigger{ display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; }
            .btn.btn-menu{ padding: 0; width: 100%; height: 100%; border-radius: 0px; display: flex; align-items: center; justify-content: center; background-color: $dark-color3; border:1px solid transparent;
                img.menu-icon { width: 32px; }
            }

        }
        
      

    }

    .header-top-root{
        box-shadow: none;
        .logo-div{
            background-color: $dark-color3;
        }

    }
    
}

.center-nav-content-div{
    padding: 5px 15px 5px 15px; margin: 0; display: flex; align-items: center; min-height: 75px; width: calc( 100% - 80px - 80px ); flex-wrap: nowrap; overflow-x: auto;
    &::-webkit-scrollbar { background-color:$dark-color3; width:4px; height: 5px; border-radius: 24px; }
    &::-webkit-scrollbar-track { padding-bottom: 40px; background-color: $white-color;border-radius: 24px;  }
    &::-webkit-scrollbar-thumb { background: $primary-color1; border-radius:24px; border:none; }
    &::-webkit-scrollbar-button { display:none; }
    .category-nav-header{
        padding: 0; margin: 0; position: relative;
        .category-nav-middle{
            padding: 0px 0; margin: 0; display: flex;
            .form-group{
                padding: 0px 0; margin: 0 30px 0 0; 
                label{ 
                    color: $primary-color1;	font-family: "IBM Plex Mono"; font-size: 14px; font-weight: 700; line-height: 18px; margin: 0 0 0px 0;
                }
            }  
        }
    }
}


/* start navigation  **/

.st-pusher {
    position: relative; left: 0; z-index: 9999; height: 100%; -webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s;
    &::after {
        position: absolute; top: 0; right: 0; width: 0; height: 0; background: $lightblack-color20;
        content: '';
        opacity: 0; -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
}

.st-menu-open {
    .st-pusher{   
        &::after {
            width: 100%; height: 100%; opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
        }
    }
    .st-menu{
        &::after { width: 0; height: 0; opacity: 0; -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }
    }
}

.st-menu {
	position: absolute; top: 0; right: 0; z-index: 100; visibility: hidden; width: 300px; height: 100%; min-height: 100vh; background: $dark-color3; -webkit-transition: all 0.5s; transition: all 0.5s;  
    &::after {
        position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: $lightblack-color20; content: ''; opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
    }

}

/* content style */

.st-menu{
    ul.ul-list { margin: 0px 0 0 0; padding: 0; list-style: none;
        li{
            a.nav-link {
                display: block; padding: 1em 1em 1em 1.2em; outline: none; box-shadow: inset 0 -1px $lightblack-color20; color: #f3efe0; text-transform: uppercase; text-shadow: 0 0 1px rgba(255,255,255,0.1); letter-spacing: 1px; font-weight: 400; transition: background 0.3s, box-shadow 0.3s;
                &:hover {
                    background: $lightblack-color20;
                    box-shadow: inset 0 -1px rgba(0,0,0,0);
                    color: #fff;
                }
            }
            &:first-child a {
                box-shadow: inset 0 -1px $lightblack-color20, inset 0 1px $lightblack-color20;
            }
        }
    }
    .closemenu-div{ width: 100%; display: flex; justify-content: flex-end; }
    .menu-close-btn { 
        padding: 0; height: 75px; width: 75px; display: flex; align-items: center; justify-content: center; background-color: rgba(26, 29, 60, 0.2); border: 1px solid transparent; cursor: pointer; border-left: 1px solid $dark-color2; border-right: 1px solid transparent; transition: 0.65s;
        &:hover, &:focus{ outline: none; background-color: rgba(26, 29, 60, 0.5); }
        img.close-img { width: 20px; }
    }
    
}

.st-effect-1.st-menu {
	visibility: visible;
	transform: translate(100%, 0px);
    &::after {
        display: none;
    }
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible; transform: translate(0px, 0px);
}

/*  End of navigation  */

/* End of header */

/*  start middle area  */

.main-middle-area{
    padding: 75px 0 0 0; margin: 0 0 0 0; position: relative;
}

.main-middle-area175{
    padding: 155px 0 0 0;
}

.main-middle-category-tab{
    padding: 125px 0 0 0;
}


.welcome-section{
    padding: 0; margin: 0; position: relative;
    .welcome-div{ 
        padding: 50px 0; margin: 0; min-height: calc( 100vh - 100px ); display: flex; align-items: center;
        .welcome-root{
            padding: 30px 30px 20px 30px; margin: 0 auto; min-height: 500px; max-width: 550px; width: 100%; border-radius: 24px; background: linear-gradient(149.32deg, rgba(111,12,61,1) 0%, rgba(54,59,114,1) 100%);	box-shadow: 0 10px 40px 0 rgba(0,0,0,0.5);
            .center-box-thumb{
                padding: 20px 0 50px 0; margin: 0 auto; display: flex; justify-content: center;
                .center-logo-img { width: 125px; max-height: 100px; }
            }
            h6 { color: $sub-color1; font-family: "IBM Plex Mono"; }
            h2 { margin: 0 0 15px 0; color: $white-color; }
            p{  margin: 0 0 15px 0; }
            .btnrow-div{
                padding: 20px 0 20px 0; margin: 0; 
            }
        }
    }
}

.custom-modal{
    .modal-dialog { max-width: 685px; width: 100%; }
    .modal-content { border-radius: 24px; background-color: $dark-color2; box-shadow: 0 40px 80px -20px rgba(0,0,0,0.19); }
    .modal-header { 
        min-height: 80px; background-color: $dark-color3; border-radius: 24px 24px 0 0; border: none; color: $white-color; align-items: center; padding: 15px 30px; 
        .close { padding: 0; margin: 0; height: 48px; width: 48px; display: flex; align-items: center; justify-content: center; border-radius: 24px; background-color: rgba(255,255,255,0.1); opacity: 1; transition: 0.5s;
            img.close-modal { width: 20px; }
            &:hover, &:focus{
                background-color:$dark-color2; opacity: 0.7; outline: none;
            }
        }
    }
    .modal-body {
        padding: 20px 30px;
        
    }
}

.custom-modal-890{
    .modal-dialog { max-width: 890px; width: 100%; }
}

.modal-backdrop{  background-color: rgba(14,16,43,1); opacity: 0.8; }
.modal-backdrop.show{  opacity: 0.8; }

.custom-form-div{
    padding: 10px 0; margin: 0; position: relative;
    .form-group{
        padding: 0; margin: 0 0 30px 0;
        label { padding: 0; margin: 0 0 5px 0; color: $primary-color1; font-family: "IBM Plex Mono"; font-size: 16px; font-weight: 700; line-height: 20px; width: 100%; display: block; }
        span.info-span { padding: 0; margin: 0 0 10px 0; color: rgba(255,255,255,0.8); font-family: "IBM Plex Mono"; font-size: 12px; font-weight: 500; line-height: 16px; display: block; }
        .form-control {
            min-height: 50px; width: 100%; padding: 8px 15px 10px 15px; color: $dark-color1;	 font-size: 18px;	 font-weight: 700;	 line-height: 24px; font-family: "DM Sans"; border: 1px solid $white-color; border-radius: 6px; background-color: rgba(255,255,255,0.94); transition: 0.8s;
            box-shadow: inset 0 0 0 1px rgba(255,255,255,1), inset 0 0 0 3px rgba(14,16,43,0.2), 0 0 4px 2px rgba(255,255,255,0.5);
            &:hover, &:focus{
                background-color: $white-color; box-shadow: inset 0 0 0 1px $white-color, inset 0 0 0 3px $dark-color2, 0 0 4px 2px rgba(255,255,255,0.5);
            }
        }
    }

    .textarea-group{
        textarea.form-control{
            resize: none;
        }
    }
    
    .button-row{
        padding: 0; margin: 0 0 0px 0;
    }
}

/* category pages */

.header-center-category-show{ display: none; }

.navigation-tabs-root {
    padding: 0 0px 0 0px; margin: 0; position: absolute; top: 75px; width: 100%; background-color: $dark-color3; z-index: 99; border: none; border-top: 2px solid $dark-color2; box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7); transition: all 0.5s; 
    .nav-tabs {
        padding: 0 75px 0 75px; border: none;
        .nav-item {
            margin-bottom: -1px;
            min-width: 25%;
            border-right: 2px solid $dark-color2;
            &:first-child{
                border-left: 2px solid $dark-color2;
            }
            .nav-link{
                border: 1px solid $transparent-color; border-bottom: 2px solid $transparent-color; border-top-left-radius: 0; border-top-right-radius: 0; min-height: 50px; display: flex; align-items: center; color: $white-color; font-size: 16px; font-weight: 700; line-height: 21px; background-color: $transparent-color;
            }
        }
        
        .plan-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $plan-color; }  }
            .nav-link.active{ border-bottom: 2px solid $plan-color; }
        }
        .produce-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $produce-color; } }
            .nav-link.active{ border-bottom: 2px solid $produce-color; }
        }
        .publish-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $publish-color; } }
        }
        .track-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $track-color; } }
        }
    }
    
    .round-outline{ padding: 0; height: 20px; width: 20px; display: inline-block; border: 2px solid; border-radius: 100px; margin: 0 12px 0 0; }
    .plan-round-outline{ border: 2px solid $plan-color; }
    .produce-round-outline{ border: 2px solid $produce-color; }
    .publish-round-outline{ border: 2px solid $publish-color; }
    .track-round-outline{ border: 2px solid $track-color; }

}

.sub-navigation-tabs-root{
    padding: 0 0px 0 0px; margin: 0; position: relative; width: 100%; background-color: $dark-color1; z-index: 9; border: none; border-top: 2px solid $dark-color2; 
    .wrap-row-flex{ padding: 0 75px 0 75px; display: flex; }

    .sub-nav-left { 
        width: 15%; flex: 0 0 15%; max-width: 15%; display: flex; 
        .title-text-div{ display: flex; height: 100%; width: 100%; padding: 15px 0 0px 0; border-bottom: 2px solid $dark-color3; }
    }
    .sub-nav-center { width: 70%; flex: 0 0 70%; max-width: 70%; display: flex; }
    .sub-nav-right { 
        width: 15%; flex: 0 0 15%; max-width: 15%; display: flex; 
        .publish-btn-div{ display: flex; height: 100%; width: 100%;   }
        .btn.publish-btn {
            height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; border: 1px solid $primary-color1; color: $dark-color1; font-size: 16px; font-weight: 700; line-height: 21px; background-color: $primary-color1; cursor: pointer; border-radius: 0px; min-height: 70px;
            &:disabled{
                opacity: 0.55; cursor: pointer; cursor: no-drop; border: 1px solid $transparent-color; color: $white-color;  background-color: $dark-color2;
            }
        }
        // .btn.publish-btn {
        //     height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; border: 1px solid $transparent-color; color: $white-color; font-size: 16px; font-weight: 700; line-height: 21px; background-color: $dark-color2; cursor: pointer;
        //     &:disabled{
        //         opacity: 0.55; cursor: pointer; cursor: no-drop;
        //     }
        // }
    }

    .nav-tabs {
        border: none; width: 100%; display: flex;
        .nav-item {
            margin-bottom: -1px;
            min-width: 25%;
            border-right: 4px solid $dark-color1;
            &:first-child{
                border-left: 4px solid $dark-color1;
            }
            .nav-link{
                padding: 1.5rem 1rem .625rem 1rem; border: 1px solid $transparent-color; border-bottom: 2px solid $transparent-color; border-top-left-radius: 0; border-top-right-radius: 0; min-height: 70px; display: flex; align-items: center; color: $white-color; font-size: 16px; font-weight: 700; line-height: 21px; background-color: $dark-color2;
                .nav-icon{     margin: 0 12px 0 0;
                    height: 16px; width: 16px; -webkit-mask-size: contain; mask-size: contain; -webkit-mask-size: contain; 
                }
                .audio-icon.nav-icon{
                    -webkit-mask-size: cover; mask-size: cover; -webkit-mask-size: cover; 
                }
            }
            .nav-link.active{
                border-bottom: 2px solid $produce-color; color: $white-color; background-color: $dark-color3;
            }
        }
        
        .plan-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $plan-color; }  }
            .nav-link.active{ border-bottom: 2px solid $plan-color; }
        }
        .produce-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $produce-color; } }
            .nav-link.active{ border-bottom: 2px solid $produce-color; }
        }
        .publish-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $publish-color; } }
        }
        .track-nav-item{  
            &:hover { .nav-link{ border-bottom: 2px solid $track-color; } }
        }
    }

    .round-outline{ padding: 0; height: 20px; width: 20px; display: inline-block; border: 2px solid; border-radius: 100px; margin: 0 12px 0 0; }
    .plan-round-outline{ border: 2px solid $plan-color; }
    .produce-round-outline{ border: 2px solid $produce-color; }
    .publish-round-outline{ border: 2px solid $publish-color; }
    .track-round-outline{ border: 2px solid $track-color; }

}

.container-fluid2 {
    padding-right: 75px; padding-left: 75px;
}

.heading-row-div{
    padding: 0; margin: 0 0 10px 0; position: relative;     display: flex; justify-content: space-between; align-items: center;
    .title-heading-div{
        padding: 0; margin: 0; display: inline-block;
    }
    .linkbtn-right-div{
        padding: 0; margin: 0; display: inline-block;
    }
}


.plantopic-section{
    padding: 0; margin: 0; position: relative;
    .plantopic-div{
        padding: 0; margin: 0; 
        .plantopic-root{
            padding: 0; margin: 0; 
        }
    }
}

.topic-card-root{
    padding: 0; margin: 0; position: relative; overflow-y: auto; max-height: calc( 100vh - 235px );
    &::-webkit-scrollbar { display:none; background-color:$dark-color3; width:4px; border-radius: 24px; }
    &::-webkit-scrollbar-track { display:none; padding-bottom: 40px; background-color: $white-color;border-radius: 24px;  }
    &::-webkit-scrollbar-thumb { display:none; background: $primary-color1; border-radius:24px; border:none; }
    &::-webkit-scrollbar-button { display:none; }
    .topic-card-row { 
        margin: 0 0 20px 0;
        min-height: 110px; width: 100%; border-radius: 16px; background-color: $dark-color3; box-shadow: 0 4px 20px 0 $lightblack-color20; display: flex;     align-items: center;
        .center-button-div { 
            padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; height: 100%; min-height: 110px; width: 100%;
            .btn.btn-big.btn-pink-outline{     margin: 0 0 0px 0; min-height: 42px !important; padding: 8px 16px !important; }
        }

        .leftside-div{
            width: calc( 100% - 250px); padding: 15px;
        }

        .rightside-div{
            width: 250px; padding: 15px; display: flex; flex-direction: column; align-items: center;
            .btn.btn-remove-filled.btn-full-icon{ margin: 0 0 0 0; }
        }

    }
}



.no-topic-found{
    display: none;
}


.suggested-topics-div{
    padding: 0; margin: 0; position: relative; border-radius: 24px;	background: linear-gradient(149.32deg, rgba(111,12,61,1) 0%, rgba(54,59,114,1) 100%);	box-shadow: 0 10px 40px 0 rgba(0,0,0,0.5); height: calc( 100vh - 175px );
    .suggested-topics-header{
        padding: 25px 17px; margin: 0; position: relative; background-color: $secondary-color15; border-radius: 24px 24px 0 0 ;
        .toprow-div{ 
            h4{ display:flex; 
                span.diamond-icon{ margin: 0 10px 0 0 ; }
            }
        }
        .middlerow-div{ 
            p{ color: $white-color-80; font-size: 14px; font-weight: 500; line-height: 20px; margin: 0 0 5px 0; }
        }
    }
    .suggested-topics-body{
        padding: 0px 0px; margin: 0; position: relative; border-radius: 0 0 24px 24px;
        .suggested-scroll-bar{  
            overflow-y: auto; max-height: calc( 100vh - 305px); border-radius: 0 0 24px 24px;
            &::-webkit-scrollbar { display:none; background-color:$dark-color3; width:4px; border-radius: 24px; }
            &::-webkit-scrollbar-track { display:none; padding-bottom: 40px; background-color: $white-color;border-radius: 24px;  }
            &::-webkit-scrollbar-thumb { display:none; background: $primary-color1; border-radius:24px; border:none; }
            &::-webkit-scrollbar-button { display:none; }
            &::after{ border-radius: 0 0 0px 24px; content:" "; background: linear-gradient(180deg, rgba(54,59,114,0.04) 0%, rgba(54,59,114,0.9) 83.21%, #363B72 100%); position: absolute; width: 100%; height: 32px; left: 0; bottom: 0; border-radius: 0 0 24px 24px; }
        }
        .stopic-row{
            padding: 25px 20px 25px 0; margin: 0; display: flex; flex-flow: wrap;
            .card50{ flex: 0 0 50%; width: 50%; min-height: 135px; max-width: 50%; padding: 0px 0px 0 20px; margin:0 0 20px 0; }
            .stopic-box{
                padding: 15px 15px 15px 15px; margin: 0; border-radius: 16px; background-color: $dark-color30; 
                .title-heading{
                    padding: 5px 0 0 0; margin: 0; display: flex; width: 100%; min-height: 70px;
                    h5{ padding: 0; margin: 0 0 10px 0; line-height: 24px; width: 100%; }
                }
                .bottom-stopic-box{
                    padding: 0; margin: 10px 0 0 0; position: relative; display: flex; align-items: center; width: 100%; justify-content: space-between;
                    .p-small{ padding: 0 15px 0 0; font-size: 12px; font-weight: 500; line-height: 16px; }
                    .btn.btn-pink-outline{ margin: 0 0 0px 0; }
                }
                .btn-pinkwhite-outline{ color:$white-color; min-width: auto; padding: 4px 15px 4px 20px;   display: flex; align-items: center;
                    .rightarrow-icon{ margin: 1px 0 0 10px; height: 12px; width: 15px; }
                }
            }
        }
    }
}

/* End of category pages */

.format-root{
    padding: 0; margin: 0 -15px 0 0; position: relative; display: flex; flex-flow: wrap;
    .format-box{
        padding: 0 15px 0 0; margin: 0; position: relative; flex:0 0 25%; max-width: 25%; display: flex;
        .format-checkbox{
            padding: 0; margin: 0; border-radius: 16px;	background-color: $dark-color3;	box-shadow: 0 4px 20px 0 $lightblack-color20; width: 100%; display: flex; flex-direction: column; border: 2px solid $transparent-color; transition: 0.5s;
            .icons-div{ display: flex; width: 100%; justify-content: center; padding: 15px 15px 10px 15px; 
                span.icon-back {
                    height: 48px; width: 48px; border-radius: 24px; background-color: $dark-color2; display: flex; align-items: center; justify-content: center;
                }
            }
            input.checkbox-input{ opacity: 0; }
            .title-div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                h4{ margin: 0 0 2px 0; text-decoration: underline; line-height: 28px; }
            }
        }
        .format-checkbox.active{
            border: 2px solid $primary-color1; background-color: $dark-color1; box-shadow: 0 4px 20px 0 $lightblack-color20; 
            .title-div h4{ text-decoration: none; }
        }
    }
}

.input_fields_wrap{
    .form-control{ margin: 0 0 0 0; }
}

.add-input-group-box{
    position: relative; margin: 0px 0 15px 0; 
    .form-control{ margin: 0 0 0 0; padding-left: 40px !important; padding-right: 38px !important; }
    .list-icon.icon-span { position: absolute; top: 17px; left: 15px;  }
    .remove_field {
        cursor: pointer; position: absolute; top: 11px; right: 10px; margin: 0; padding: 5px 5px;
    }
}



.tab-content-section{
    padding: 0; margin: 0; position: relative;
    .tab-content-div{
        padding: 0; margin: 0; 
        .tab-content{
            padding: 60px 0 20px 0; margin: 0; position: relative;
        }

        .dark-card-div{
            padding: 0; margin: 0; position: relative; min-height: 250px; border-radius: 16px;	background-color: $dark-color3;	box-shadow: 0 4px 20px 0 $lightblack-color20;
            .generate-script-div{
                padding: 0; margin: 0 0 20px 0 ; width: 100%;  display: flex;min-height: 250px; align-items: center;
            }
            .generate-script-top{ 
                padding: 0; margin: 0; width: 100%; height: 100%;
                .icons-div{ display: flex; justify-content: center; padding: 0px 15px 15px 15px; 
                    span.icon-back {
                        height: 48px; width: 48px; border-radius: 24px; background-color: $dark-color2; display: flex; align-items: center; justify-content: center;
                    }
                }
                .title-div {
                    display: flex; align-items: center; justify-content: center; padding: 0 5px;
                    h4{ margin: 0 0 2px 0; text-decoration: underline; line-height: 28px; }
                }
            }
        }

    }
}


/* drag */

.section-view-data{
    /* .dz-preview { background: #F7F7F8; width: 100%; min-height: 60px; max-height: 60px; padding: 0; display: flex; align-items: center; margin: 0 0 0px 0 !important;    border: none; }
    a.dz-remove { 
        position: absolute; top: 0; right: 10px; z-index: 33; color: $dark-color3 !important; background-color: transparent !important; background: none !important; height: 60px; vertical-align: top; display: flex; align-items: center; justify-content: center; margin: 0; font-size: 24px; cursor: pointer;
        i{ cursor: pointer; }
        &:hover{
            text-decoration: none;
        }
    }
    .dz-preview .dz-details { background-color: transparent; width: 100% !important; text-align: left; margin: -10px 0 0 0 !important; padding: 0 10px !important; height: 100% !important; display: flex; min-height: 30px; vertical-align: top; opacity: 1; }
    */

    .drop-view-data{
        padding: 0; margin: 0 0 20px 0; position: relative; 
        .drop-files{
            padding: 0; margin: 0; position: relative;
            .drop-file-row{ padding: 0; margin: 0; }
            .dz-preview {
                margin: 0 0 20px 0;
                display: flex; align-items: center; padding: 15px; width: 100%; height: auto; border-radius: 16px;	background-color: #373B69;	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2); position: relative;
                .dz-image {
                    display: inline-block;
                    img {
                        height: 58px; width: 90px; border: 2px solid $white-color; border-radius: 8px;
                    }
                }
                .dz-details {
                    padding: 0 15px; display: flex;
                    flex-direction: column-reverse;
                }
                .dz-size { opacity: 0.8; color:$white-color; font-family: "IBM Plex Mono"; font-size: 12px; font-weight: 500; line-height: 15px; }
                .dz-filename{ padding: 0; margin: 0 0 5px 0; font-size: 20px; color: $white-color; font-family: 'DM Sans', sans-serif; font-weight: 700; letter-spacing: 1px; text-decoration: underline; line-height: 28px; }
                a.dz-remove {
                    height: 48px; width: 48px; border-radius: 24px; background-color: $dark-color2; display: flex; align-items: center; justify-content: center; 
                    position: absolute; top: 20px; right: 20px;
                    .delete-icon.delete-remove-icon {
                        height: 16px;
                        width: 16px;
                        -webkit-mask-size: contain;
                        mask-size: contain;
                    }
                }
            }     
            .dz-success-mark{ opacity: 0; }  
            .dz-error-mark{ opacity: 0; }  
            .dz-error-message{ opacity: 0; } 

        }
    }

}


.dropbox-center-div { width: 100%; z-index: 2;
    .drag-drop-center{ display: flex; justify-content: center; align-items: center; height: 100%;
        form.dropzone { max-height: calc(100vh - 250px); min-height: 250px; overflow-y: auto; width: 100%;  border: none; padding: 0;
            &::-webkit-scrollbar { width: 5px; height: 5px;}
            &::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.1); border-radius: 24px 24px; }
            &::-webkit-scrollbar-thumb { background-color: rgba(255,255,255,0.8); background-image: linear-gradient(45deg, #014AEA, #0281F6); border-radius: 5px; }
            // &::-webkit-scrollbar-corner {  }
        
            .dz-preview { background: #F7F7F8; width: 100%; min-height: 60px; max-height: 60px; padding: 0; display: flex; align-items: center; margin: 0 0 0px 0 !important;    border: none; }
            .dz-image { display: none; height: 60px !important; width: 60px !important; border-radius: 0px !important; background-color: #eee !important; }
            a.dz-remove { 
                position: absolute; top: 0; right: 10px; z-index: 33; color: $dark-color3 !important; background-color: transparent !important; background: none !important; height: 60px; vertical-align: top; display: flex; align-items: center; justify-content: center; margin: 0; font-size: 24px; cursor: pointer;
                i{ cursor: pointer; }
                &:hover{
                    text-decoration: none;
                }
            }
            .dz-preview .dz-details { background-color: transparent; width: 100% !important; text-align: left; margin: -10px 0 0 0 !important; padding: 0 10px !important; height: 100% !important; display: flex; min-height: 30px; vertical-align: top; opacity: 1; }
            
        }
        .dropzone-100 { 
            width: 100%; margin: 0 auto; display: flex; justify-content: center; 
            span.note.needsclick{ font-size: 14px; color: $sub-color2; font-weight: 300; text-align: center; line-height: 30px;  }
            .dz-message{ margin: 0px 0; }
            .generate-script-top{
                min-height: 155px; display: flex; align-items: center; flex-direction: column; justify-content: center;
            }
            .drag-div-file {
                min-height: 92px; width: 100%; border: 1px dashed $white-color3; border-radius: 0 0 16px 16px; background-color: $dark-color2; display: flex; align-items: center; justify-content: center;
                h4{ margin: 0 0 0 0; text-decoration: underline; line-height: 28px; }
            }
        }

        .dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark{ display: none !important; }
        .dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark { display: none !important; }
    }
}

.script-format-root{
    padding: 0; margin: 0 -15px 0 0; position: relative; display: flex; flex-flow: wrap;
    .format-box{
        padding: 0 15px 0 0; margin: 0; position: relative; flex:0 0 25%; max-width: 25%; display: flex; min-height: 175px;
        .format-radio{
            padding: 15px 10px 10px 10px; margin: 0; border-radius: 16px;	background-color: $dark-color3;	box-shadow: 0 4px 20px 0 $lightblack-color20; width: 100%; display: flex; flex-direction: column; border: 2px solid $transparent-color; transition: 0.5s;
            .icons-div{ display: flex; width: 100%; justify-content: center; padding: 15px 15px 12px 15px; 
                span.icon-back {
                    height: 48px; width: 48px; border-radius: 24px; background-color: $dark-color2; display: flex; align-items: center; justify-content: center;
                }
            }
            span.round-outline-box {
                height: 48px; width: 48px; border: 2px solid $produce-color; border-radius: 42.5px;
            }
            input.radio-input{ opacity: 0; }
            .title-div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 15px;
                h4{ margin: 0 0 2px 0;  line-height: 28px; text-align: center; }
            }
        }
        .format-radio.active{
            border: 2px solid $primary-color1; background-color: $dark-color1; box-shadow: 0 4px 20px 0 $lightblack-color20; 
            .title-div h4{ text-decoration: none; }
        }
    }
}


// added by aakhil
.tab-content-section {
.audio-tab {
    .audio-cards{

    padding: 0;
    margin: 0;
    position: relative;
    min-height: auto;
    border-radius: 16px;
    background-color: #282b4c;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);

        .audio-card-one {
            padding: 16px;
            display:flex;
            justify-content: flex-start;
            flex-direction: column;

            .videolist-title {
                h3 {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: bold;
                    color: #FFFFFF;            
                }
            }
            

            .videolist-audiotab {
                padding: 8px;
                border-radius: 8px;
                background-color: #373B69;	
                box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
                display: flex;
                justify-content: flex-start;
                .videolist-thumb {
                    height: 58px;
                    width: 89px;
                    border: 2px solid #FFFFFF;
                    border-radius: 7px;
                    img {
                        width: 100%;
                    }
                }
                .videolist-content {
                    padding-left: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: underline;
                    a {
                        color: #ffffff;
                        font-size: 20px;	
                        font-weight: bold;	
                        line-height: 26px;
                    }
                }
                
            }
        }
    }

    .dark-card-audio {
        min-height: 155px;
        border-radius: 16px 16px 0 0;
            .generate-script-audio {
                min-height: 155px;
            }
    }
    .generate-script-audio-footer{
        border-top: 1px solid rgba(0, 0, 0, .4);
        padding: 36px 16px 16px 16px;

        h3 {
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            color: #FFFFFF;
            margin-bottom: 16px;            
        }
        .genratescript-list {
            padding: 11px 8px;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
            background-color: #373B69;
            border-radius: 8px;	
            .script-left {
            a {
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                line-height: 26px;
                color: #FFFFFF;
            }
            }
            .script-r {}
        }

    }
}
}


/*  End of middle area  */

@media (min-width: 1025px) {
    
   
  
}

@media (min-width: 1025px) and (max-width: 1290px) {
 


}

@media (min-width: 1025px) and (max-width: 1400px) {

    h1{ font-size: 36px; }
    h2{ font-size: 24px; }
    h3{ font-size: 21px; }
    h4{ font-size: 18px; }
    h5{ font-size: 16px; }
    h6{ font-size: 14px; }

    p{ font-size: 16px; line-height: 24px; }
    p.small-text{ font-size: 10px;  }

    .container-fluid2 { padding-right: 15px; padding-left: 15px; }

    .suggested-topics-div {
        .suggested-topics-body {
            .stopic-row {
                padding: 25px 15px 25px 0;
                .card50 {
                    padding: 0px 0px 0 15px; margin: 0 0 15px 0;
                }
                .stopic-box {
                    padding: 15px 10px 15px 10px;
                    .btn-pinkwhite-outline {
                        padding: 4px 5px 4px 10px; font-size: 14px;
                    }
                }
            }
        }
    }
    

}

@media (min-width: 1400px) and (max-width: 1450px) {
    
}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    /* stylesheet */

    h1{ font-size: 36px; }
    h2{ font-size: 24px; }
    h3{ font-size: 21px; }
    h4{ font-size: 18px; }
    h5{ font-size: 16px; }
    h6{ font-size: 14px; }

    p{ font-size: 16px; line-height: 24px; }
    p.small-text{ font-size: 10px;  }

    .container-fluid2 { padding-right: 15px; padding-left: 15px; }
    .main-middle-area175 { padding: 125px 0 20px 0; }
    .main-middle-category-tab { padding: 190px 0 20px 0; }

    .colorrow-div{ display: block; margin: 30px 0 0px 0;
        h3{ margin: 0 0 5px 0; }
        .colorbox-col{ padding: 0 0px 30px 0; 
            &:last-child{
                padding: 0 0px 0px 0;
            }
        }
    }

    .stylesheet-section {
        .stylesheet-div {
            .colorbox-root {
                padding: 10px 0 0 0;
            }
        }
        .typography-section{
            margin: 60px 0 0 0;
            .typography-root{
                padding: 40px 0 0 0;
                .typography-row-div{
                    .d-flex{ display: block !important; }
                }
            }
        }

        .element-root {
            .containers-box-root {
                height: 250px; width: 80%; margin-bottom: 90px;
                .four-card-box {
                    bottom: -95px; right: -90px; transform: scale(0.7);
                }
            }
            .border-box-root{
                margin: 30px 0 50px 0;
            }
        }
      

    }
    
    /* End of stylesheet */

    header .center-nav-content-div.display-desktop-center{ display:none; }
    .header-center-category-show{ display: block; }

    .center-nav-content-div{
        margin: 0 0 25px 0; flex-wrap: wrap; width: 100%;
        .category-nav-header{
            width: 100%;
            .category-nav-middle {
                padding: 0px 0; margin: 0 0 20px 0; display: block;
                .form-group{ margin: 10px 0 20px 0; }
            }
        }
    }

    .welcome-section {
        .welcome-div {
            .welcome-root {
                padding: 20px 20px 20px 20px; min-height: auto; 
                .center-box-thumb{ 
                    padding: 20px 0 30px 0;
                }
                h2{ margin: 0 0 10px 0; }
            }
        }
    }
    
    .custom-modal {
        .modal-dialog { margin: 0; padding: 10px; }
        .modal-header { min-height: 65px; padding: 10px 20px; 
            .close{ height: 36px; width: 36px; 
                img.close-modal { width: 14px; }
            }
        }
        .modal-title { margin-bottom: 0; line-height: 24px; font-size: 18px; }
        .modal-body{
            padding: 20px 20px; 
            .btn.btn-custom2{ font-size: 18px; min-height: 50px; }
        }
    }
    
    .navigation-tabs-root {
        .nav-tabs {
            padding: 0 0px 0 0px;
            border: none;
            .nav-item{
                width: 50%;
                border-bottom: 2px solid $dark-color2;
            }
        }
    }
    
    /* category section  */

    .heading-row-div{ display: block; margin: 0 0 25px 0;
        .title-heading-div{ 
            margin: 0 0 10px 0;
        }
    }

    .topic-card-root {
        .topic-card-row.opacity30, .topic-card-row.opacity25, .topic-card-row.opacity20, .topic-card-row.opacity15{ display: none; } 
    }

    .suggested-topics-div {
        height: 100%; 
        .suggested-topics-body {
            .suggested-scroll-bar {
                max-height: 100%;
            }
            .stopic-row{
                padding: 20px 15px 0px 0;
                .card50 {
                    flex: 0 0 100%; width: 100%; min-height: auto; max-width: 100%; padding: 0px 0px 0 15px; margin: 0 0 10px 0;
                }
            }
        }
    }
    
    .topic-card-root {
        margin: 0 0 15px 0;
        .topic-card-row {
            display: block; padding: 5px 0; margin: 0 0 10px 0;
            .leftside-div { width: 100%; padding-bottom:5px; } 
            .rightside-div { width: 100%; padding-top:5px; } 
        }
    }

    .format-root {
        .format-box { flex: 0 0 50%; max-width: 50%; margin: 0 0 15px 0; }
    }
    
    
    /* End of category section  */

    .sub-navigation-tabs-root {
        border-top-width: 0px;
        .wrap-row-flex {
            padding: 0 0px 0 0px; flex-flow: column;
        }
        .sub-nav-left {  
            width: 100%; flex: 0 0 100%; max-width: 100%; display: flex;  
            .title-text-div { padding: 15px 15px 0px 15px; margin: 0 0 15px 0; }
        }
        .sub-nav-center { width: 100%; flex: 0 0 100%; max-width: 100%; display: flex; }
        .sub-nav-right { 
            width: 100%; flex: 0 0 100%; max-width: 100%; display: flex; margin: 10px 0 0 0;
        }

        .nav-tabs {
            .nav-item { min-width: 50%; border-right-width: 2px; margin-bottom: 0px;
                &:first-child{
                    border-left-width: 2px;
                }
            }
        }
    }
    
    .script-format-root {
        .format-box {
            padding: 0 15px 0 0; margin: 0 0 10px 0; flex: 0 0 100%; max-width: 100%; display: flex; min-height: auto;
        }
    }
    


}

@media (min-width: 768px) and (max-width: 1024px) {

 /* stylesheet */

 h1{ font-size: 36px; }
 h2{ font-size: 24px; }
 h3{ font-size: 21px; }
 h4{ font-size: 18px; }
 h5{ font-size: 16px; }
 h6{ font-size: 14px; }

 p{ font-size: 16px; line-height: 24px; }
 p.small-text{ font-size: 10px;  }

 .container-fluid2 { padding-right: 15px; padding-left: 15px; }
 .main-middle-area175 { padding: 100px 0 20px 0; }
 .main-middle-category-tab { padding: 150px 0 20px 0; }

 .custom-modal-890 {
	.modal-dialog {
		max-width: 700px;
		width: 100%;
	}
 }
 
.header-center-category-show {
    display: block;
    .center-nav-content-div{ min-width: 100%; margin: 0 0 20px 0; }
}


.center-nav-content-div{
    margin: 0 0 25px 0; flex-wrap: wrap; width: 100%;
    .category-nav-header{
        width: 100%;
        .category-nav-middle {
            padding: 0px 0; margin: 0 0 0px 0; 
            .form-group{ 
                margin: 10px 0px 20px 35px; width: 50%; 
                &:first-child{
                    margin: 10px 0px 20px 0px;
                }
            }

        }
    }
}

 .colorrow-div{ display: block; margin: 30px 0 0px 0;
     h3{ margin: 0 0 5px 0; }
     .colorbox-col{ padding: 0 0px 30px 0; 
         &:last-child{
             padding: 0 0px 0px 0;
         }
     }
 }

 .stylesheet-section {
     .stylesheet-div {
         .colorbox-root {
             padding: 10px 0 0 0;
         }
     }
     .typography-section{
         margin: 60px 0 0 0;
         .typography-root{
             padding: 40px 0 0 0;
             .typography-row-div{
                 .d-flex{ display: block !important; }
             }
         }
     }
     .element-root {
         .containers-box-root {
             height: 250px; width: 65%; max-width: 400px; margin-bottom: 90px;
             .four-card-box {
                 bottom: -95px; right: -90px; transform: scale(0.7);
             }
         }
         .border-box-root{
             margin: 30px 0 50px 0;
         }
     }
   

 }

 /* End of stylesheet */

 .navigation-tabs-root {
    .nav-tabs {
        padding: 0 0px 0 0px;
        border: none;
        .nav-item{
            width: 25%;
            border-bottom: 2px solid #1a1d3c;
            .nav-link{ font-size: 14px; line-height: 22px; }
        }
    }
}

/* category section  */


.topic-card-root {
    .topic-card-row.opacity30, .topic-card-row.opacity25, .topic-card-row.opacity20, .topic-card-row.opacity15{ display: none; } 
}

.suggested-topics-div {
    height: 100%; margin: 0 0 0px 0;
    .suggested-topics-body {
        .suggested-scroll-bar {
            max-height: 100%;
        }
        .stopic-row{ padding: 25px 20px 5px 0; }
    }
}

.sub-navigation-tabs-root {
    
    .wrap-row-flex {
        padding: 15px 0px 0 0px; flex-flow: column;
    }
    .sub-nav-left {  
        width: 100%; flex: 0 0 100%; max-width: 100%; display: flex;  
        .title-text-div { padding: 15px 15px 0px 15px; margin: 0 0 15px 0; }
    }
    .sub-nav-center { width: 100%; flex: 0 0 100%; max-width: 100%; display: flex; }
    .sub-nav-right { 
        width: 100%; flex: 0 0 100%; max-width: 100%; display: flex; margin: 10px 0 0 0;
    }

    .nav-tabs {
        .nav-item { min-width: 25%; border-right-width: 2px; margin-bottom: 0px;
            &:first-child{
                border-left-width: 2px;
            }
        }
    }
}

/* End of category section  */

}



@media (min-width: 1024px) and (max-width: 1366px) {

  /* category section  */


   .topic-card-root {
        .topic-card-row.opacity30, .topic-card-row.opacity25, .topic-card-row.opacity20, .topic-card-row.opacity15{ display: block; } 
    }

    .suggested-topics-div {
        margin: 0 0 0px 0;height: calc( 100vh - 175px);
        .suggested-topics-body {

            .suggested-scroll-bar {
                max-height: calc( 100vh - 325px);
            }
            .stopic-row{
                padding: 20px 15px 0px 0;
                .card50 {
                    flex: 0 0 100%; width: 100%; min-height: auto; max-width: 100%; padding: 0px 0px 0 15px; margin: 0 0 15px 0;
                }
            }
        }
    }

    

    /* End of category section  */

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}