@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import url(select2.min.css);
@import url(select-custom.css);
@import url(dropzone.css);
@import url(dropzone-custom.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Karla:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700|DM+Sans&display=swapi&display=swap);
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'IBM Plex Mono', monospace; */
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  background-color: #0e102b;
  display: block;
  height: 100%;
  min-height: 100vh;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mr-40 {
  margin-right: 40px;
}

.display-inline {
  display: inline-block;
}

/* Add SVG Icons */
.rightarrow-icon {
  -webkit-mask: url(../images/icons/rightarrow-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/rightarrow-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 14px;
  height: 10px;
  color: white;
  fill: white;
  background-color: white;
}

.plus-icon {
  -webkit-mask: url(../images/icons/plus-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/plus-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 10px;
  height: 10px;
  color: white;
  fill: white;
  background-color: white;
}

.diamond-icon {
  -webkit-mask: url(../images/icons/diamond-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/diamond-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 26px;
  height: 24px;
  color: #ea2675;
  fill: #ea2675;
  background-color: #ea2675;
}

.delete-icon {
  -webkit-mask: url(../images/icons/delete-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/delete-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 12px;
  height: 14px;
  color: white;
  fill: white;
  background-color: white;
}

.video-icon {
  -webkit-mask: url(../images/icons/video-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/video-icon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 18px;
  height: 14px;
  color: white;
  fill: white;
  background-color: white;
}

.audio-icon {
  -webkit-mask: url(../images/icons/audio-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/audio-icon.svg) no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 16px;
  height: 32px;
  color: white;
  fill: white;
  background-color: white;
}

.audio-icon2 {
  -webkit-mask: url(../images/icons/audio2-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/audio2-icon.svg) no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 16px;
  height: 16px;
  color: white;
  fill: white;
  background-color: white;
}

.text-icon {
  -webkit-mask: url(../images/icons/text-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/text-icon.svg) no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 20px;
  height: 26px;
  color: white;
  fill: white;
  background-color: white;
}

.image-icon {
  -webkit-mask: url(../images/icons/image-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/image-icon.svg) no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 25px;
  height: 18px;
  color: white;
  fill: white;
  background-color: white;
}

.list-icon {
  -webkit-mask: url(../images/icons/list-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/list-icon.svg) no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 16px;
  height: 16px;
  color: white;
  fill: white;
  background-color: #282b4c;
  opacity: 0.6;
}

.remove-icon {
  -webkit-mask: url(../images/icons/remove-icon.svg) no-repeat 50% 50%;
  mask: url(../images/icons/remove-icon.svg) no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: contain;
          mask-size: contain;
  text-align: center;
  width: 12px;
  height: 12px;
  color: white;
  fill: white;
  background-color: #282b4c;
}

/* End of SVG Icons */
/* Stylesheet_section */
.stylesheet-section {
  padding: 0 0 70px 0;
  margin: 0 0 0px 0;
  position: relative;
}

.stylesheet-section .stylesheet-div {
  padding: 0;
  margin: 0;
}

.stylesheet-section .stylesheet-div .heading-div {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.stylesheet-section .stylesheet-div .colorbox-root {
  padding: 70px 0 0 0;
  margin: 0;
}

.stylesheet-section .stylesheet-div .colorbox-verticle-root .colorrow-div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stylesheet-section .stylesheet-div .colorbox-verticle-root .colorbox-rowdiv {
  margin: 0 0 15px 0;
}

.stylesheet-section .stylesheet-div .colorbox-verticle-root .color-round {
  padding: 0px 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stylesheet-section .stylesheet-div .colorbox-verticle-root .color-round span.text-name {
  color: white;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  line-height: 28px;
  padding: 18px 0 0 8px;
}

.stylesheet-section .stylesheet-div .colorbox-verticle-root .color-round .colorfill-span {
  height: 40px;
  width: 40px;
}

.stylesheet-section .typography-root {
  padding: 50px 0 0 0;
  margin: 0;
}

.stylesheet-section .typography-root .heading-div {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.stylesheet-section .element-root {
  padding: 50px 0 30px 0;
  margin: 0;
}

.stylesheet-section .element-root .containers-box-root {
  margin: 30px 0 70px 0;
  height: 285px;
  width: 75%;
  border-radius: 24px;
  background-color: #1a1d3c;
  display: block;
  position: relative;
}

.stylesheet-section .element-root .containers-box-root .four-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -70px;
  right: -70px;
}

.stylesheet-section .element-root .containers-box-root .four-card-box .containersbox {
  height: 104px;
  width: 115px;
  border-radius: 16px;
  margin: 24px 12px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.stylesheet-section .element-root .border-box-root {
  margin: 30px 0 0 0;
}

.stylesheet-section .button-section {
  padding: 50px 0 0 0;
  margin: 0;
}

.colorrow-div {
  padding: 0;
  margin: 0 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colorrow-div h3 {
  padding: 0;
  margin: 0 0 15px 0;
}

.colorrow-div .colorbox-col {
  padding: 0 100px 0 0;
  margin: 0;
}

.colorrow-div .colorbox-col:last-child {
  padding-right: 0px;
}

.color-round .colorfill-span {
  margin: 12px 15px 0px 0;
  height: 48px;
  width: 48px;
  display: inline-block;
  border-radius: 100%;
}

/* background color */
.colorfill-span {
  background-color: white;
}

.colorfill-primary1 {
  background-color: #03d8e0;
}

.colorfill-white1 {
  background-color: white;
}

.colorfill-white2 {
  background-color: #f2f2f6;
}

.colorfill-white3 {
  background-color: #e3e4e9;
}

.colorfill-dark1 {
  background-color: #0e102b;
}

.colorfill-dark2 {
  background-color: #1a1d3c;
}

.colorfill-dark3 {
  background-color: #282b4c;
}

.colorfill-dark4 {
  background-color: #373b69;
}

.colorfill-secondary1 {
  background-color: #ea2675;
}

.colorfill-status1 {
  background-color: #58e32c;
}

.colorfill-status2 {
  background-color: #ead31e;
}

.colorfill-status3 {
  background-color: #e41b1b;
}

.colorfill-plan {
  background-color: #ea2675;
}

.colorfill-produce {
  background-color: #3cdf8e;
}

.colorfill-publish {
  background-color: #50c4ff;
}

.colorfill-track {
  background-color: #d334ff;
}

.backgroundbox1 {
  background-color: #282b4c;
}

.backgroundbox2 {
  background-color: #1a1d3c;
}

.backgradiant1 {
  background: linear-gradient(149.32deg, #6f0c3d 0%, #363b72 100%);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
}

.backgradiant2 {
  background: linear-gradient(177.29deg, #6f0c3d 0%, #282b4c 100%);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
}

/* End of background color */
.border-white1 {
  border: 1px solid white;
}

.border-box-root {
  width: 140px;
}

.border-bottom1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.border-bottom2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.border-bottom3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.border-padding15 {
  padding: 15px;
  background-color: #282b4c;
}

/* font color */
.color-primary {
  color: #03d8e0 !important;
}

.color-white80 {
  color: rgba(255, 255, 255, 0.8) !important;
}

.color-sub4 {
  color: #e72e80 !important;
}

/* End of font color */
/* End of stylesheet-section */
h1 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 48px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 36px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 24px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 20px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h5 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 18px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h6 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "IBM Plex Mono";
  color: white;
  line-height: 28px;
}

p.small-text {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: white;
}

.small-p {
  padding: 0;
  font-size: 12px;
  color: white;
}

.position-initial {
  position: initial;
}

.span-block {
  display: block;
}

.opacity80 {
  opacity: 0.8 !important;
}

.opacity60 {
  opacity: 0.6 !important;
}

.opacity40 {
  opacity: 0.4 !important;
}

.opacity30 {
  opacity: 0.3 !important;
}

.opacity25 {
  opacity: 0.25 !important;
}

.opacity20 {
  opacity: 0.2 !important;
}

.opacity15 {
  opacity: 0.15 !important;
}

.line-height20 {
  line-height: 20px;
}

/* Button */
.btn.btn-custom1 {
  padding: 10px 15px;
  min-height: 44px;
  min-width: 195px;
  background-color: transparent;
  color: #03d8e0;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #03d8e0;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
  letter-spacing: 1px;
}

.btn.btn-custom1:hover, .btn.btn-custom1:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #03d8e0;
  color: #0e102b;
}

.btn.btn-custom2 {
  padding: 10px 15px;
  min-height: 56px;
  min-width: 190px;
  background-color: transparent;
  color: #03d8e0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #03d8e0;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
  letter-spacing: 1px;
}

.btn.btn-custom2:hover, .btn.btn-custom2:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #03d8e0;
  color: #0e102b;
}

.btn.btn-big {
  padding: 10px 15px !important;
  min-height: 44px !important;
}

a.btn.btn-link2 {
  padding: 0;
  color: #ea2675;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: underline;
  -webkit-transition: 0.5;
  transition: 0.5;
}

a.btn.btn-link2:hover, a.btn.btn-link2:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  color: rgba(234, 38, 117, 0.8);
}

a.btn.white-btn-link {
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
  -webkit-transition: 0.5;
  transition: 0.5;
}

a.btn.white-btn-link:hover, a.btn.white-btn-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  color: white;
}

/* custom button */
.btn.btn-primary-outline-large {
  padding: 7px 30px;
  margin: 0 0 10px 0;
  min-height: 44px;
  background-color: transparent;
  color: #03d8e0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #03d8e0;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
  letter-spacing: 1px;
}

.btn.btn-primary-outline-large:hover, .btn.btn-primary-outline-large:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #03d8e0;
  color: #373b69;
}

.btn.btn-primary-outline-small {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: transparent;
  color: #03d8e0;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #03d8e0;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
  letter-spacing: 1px;
}

.btn.btn-primary-outline-small .rightarrow-icon {
  background-color: #03d8e0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: -1px 0 0 5px;
}

.btn.btn-primary-outline-small:hover, .btn.btn-primary-outline-small:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #03d8e0;
  color: #373b69;
}

.btn.btn-primary-outline-small:hover .rightarrow-icon, .btn.btn-primary-outline-small:focus .rightarrow-icon {
  background-color: #282b4c;
}

.btn.btn-primary-filled {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: #03d8e0;
  color: #373b69;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #03d8e0;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(3, 216, 224, 0.4), 0 0 28px 10px rgba(3, 216, 224, 0.18), 0 2px 10px 0 rgba(3, 216, 224, 0.4);
  letter-spacing: 1px;
}

.btn.btn-primary-filled:hover, .btn.btn-primary-filled:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-secondary-outline {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  letter-spacing: 1px;
}

.btn.btn-secondary-outline:hover, .btn.btn-secondary-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #282b4c;
}

.btn.btn-pink-outline {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: rgba(234, 38, 117, 0.2);
  color: #ea2675;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #ea2675;
  border-radius: 30px;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(234, 38, 117, 0.4), 0 0 28px 10px rgba(234, 38, 117, 0.15), 0 2px 10px 0 rgba(234, 38, 117, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(234, 38, 117, 0.4), 0 0 28px 10px rgba(234, 38, 117, 0.15), 0 2px 10px 0 rgba(234, 38, 117, 0.4);
}

.btn.btn-pink-outline .plus-icon {
  margin: 0 4px 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 11px;
  width: 11px;
}

.btn.btn-pink-outline:hover, .btn.btn-pink-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ea2675;
  color: #282b4c;
}

.btn.btn-pink-outline:hover .plus-icon, .btn.btn-pink-outline:focus .plus-icon {
  background-color: #282b4c;
}

.btn.btn-green-outline {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: transparent;
  color: #3cdf8e;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid #3cdf8e;
  border-radius: 30px;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(60, 223, 142, 0.4), 0 0 28px 10px rgba(88, 227, 44, 0.18), 0 2px 10px 0 rgba(60, 223, 142, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(60, 223, 142, 0.4), 0 0 28px 10px rgba(88, 227, 44, 0.18), 0 2px 10px 0 rgba(60, 223, 142, 0.4);
}

.btn.btn-green-outline:hover, .btn.btn-green-outline:focus {
  background-color: #3cdf8e;
  color: #282b4c;
}

.btn.btn-white-outline {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid white;
  border-radius: 30px;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.4), 0 0 28px 10px rgba(215, 247, 248, 0.12), 0 2px 10px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.4), 0 0 28px 10px rgba(215, 247, 248, 0.12), 0 2px 10px 0 rgba(255, 255, 255, 0.4);
}

.btn.btn-white-outline:hover, .btn.btn-white-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  color: #282b4c;
}

.btn.btn-white-filled {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: white;
  color: #282b4c;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid white;
  border-radius: 30px;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.4), 0 0 28px 10px rgba(215, 247, 248, 0.12), 0 2px 10px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.4), 0 0 28px 10px rgba(215, 247, 248, 0.12), 0 2px 10px 0 rgba(255, 255, 255, 0.4);
}

.btn.btn-white-filled:hover, .btn.btn-white-filled:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  color: #282b4c;
}

.btn.btn-remove-filled {
  padding: 4px 20px;
  margin: 0 0 10px 0;
  min-height: 32px;
  background-color: rgba(14, 16, 43, 0.3);
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid rgba(14, 16, 43, 0.3);
  border-radius: 30px;
  letter-spacing: 1px;
}

.btn.btn-remove-filled:hover, .btn.btn-remove-filled:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(14, 16, 43, 0.8);
}

.bluebox-viewbutton {
  width: auto;
  padding: 15px 20px 5px 20px;
  border-radius: 8px;
  background-color: #1a1d3c;
  display: inline-block;
}

.btn.btn-full-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.btn.btn-full-icon span.rightfixed-icon {
  position: absolute;
  right: 0;
  top: 0;
  right: 15px;
  top: 8px;
}

.btn.btn-white-filled.btn-full-icon .rightarrow-icon {
  background-color: #282b4c;
  top: 10px;
}

.btn.btn-remove-filled.btn-full-icon {
  border: none;
}

.btn.btn-white-outline.add_field_button {
  padding: 4px 15px;
  margin: 0px 0 15px 0;
}

.btn.btn-white-outline.add_field_button .plus-icon.icon-span {
  mask-size: contain;
  -webkit-mask-size: contain;
  margin: -1px 0 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn.btn-white-outline.add_field_button:hover .plus-icon.icon-span, .btn.btn-white-outline.add_field_button:focus .plus-icon.icon-span {
  background-color: #282b4c;
}

.btn-prepared-btn .btn.btn-white-filled.btn-big {
  padding: 4px 30px !important;
  font-size: 20px;
}

/* End of custom button */
/* End of Button */
.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/* select2 */
.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid transparent !important;
  border-radius: 0px;
  min-height: 40px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  border-radius: 10px;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 15px;
  left: 10px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-custom-view span.select2-selection.select2-selection--single {
  border: 1px solid transparent !important;
  border-radius: 0px;
  min-height: 40px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  border-radius: 10px;
}

.select-custom-view .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom-view .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 15px;
  left: 10px;
}

.select-custom-view .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select2.select2-container .select2-selection {
  border-radius: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #f2f2f6;
  color: #0b0f32;
  font-weight: 600;
}

.select2-results__option {
  padding: 10px;
  color: #1a1d3c;
  font-family: "DM Sans";
  font-weight: 600;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: 0px;
  border: 1px solid #FAFAFA;
  border-radius: 10px;
}

.select2-results__option:first-child {
  border-radius: 6px 6px 0px 0px;
}

.select2-results__option:last-child {
  border-radius: 0px 0px 6px 6px;
}

.select2-container .select2-dropdown .select2-results ul {
  border: none;
  border-radius: 6px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f2f2f6;
  color: #0b0f32;
  font-weight: 600;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #1D61F6;
  line-height: 32px;
  padding-right: 50px;
}

/* end of select2 */
/* select2 multiple */
.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 145px;
  width: 100%;
  padding: 8px 10px 8px 10px;
  color: #0e102b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "DM Sans";
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.94);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px rgba(14, 16, 43, 0.2), 0 0 4px 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px rgba(14, 16, 43, 0.2), 0 0 4px 2px rgba(255, 255, 255, 0.5);
  margin: 0 0 0 0;
}

.select2.select2-container .select2-selection--multiple:hover {
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #1a1d3c, 0 0 4px 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #1a1d3c, 0 0 4px 2px rgba(255, 255, 255, 0.5);
}

.select2-container--focus.select2-container--open .select2-selection--multiple {
  color: #0e102b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "DM Sans";
  border: 1px solid white;
  border-radius: 6px !important;
  background-color: rgba(255, 255, 255, 0.94);
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #1a1d3c, 0 0 4px 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #1a1d3c, 0 0 4px 2px rgba(255, 255, 255, 0.5);
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
  border: none;
  border-radius: 16px;
  margin: 8px 8px 0 0;
  padding: 0 28px 0 8px;
  min-height: 26px;
  line-height: 26px;
  font-size: 12px;
  position: relative;
  background-color: #f2f2f6;
  color: #0b0f32;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select2-selection__choice {
  border: none;
  border-radius: 16px;
  margin: 8px 8px 0 0;
  padding: 0 28px 0 8px;
  min-height: 26px;
  line-height: 26px;
  font-size: 12px;
  position: relative;
  background-color: #f2f2f6 !important;
  color: #0b0f32;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 42px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  position: absolute;
  top: 1px;
  right: 2px;
  left: auto;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #373b69;
  font-weight: 700;
  font-size: 24px;
  border-radius: 24px;
}

/* End of select2 multiple */
/* select2 single */
.select-single-group .select2.select2-container .select2-selection {
  margin: 0;
  height: 36px;
}

.select-single-group .select2-selection {
  background-color: transparent;
  border: none !important;
  border-bottom: 2px solid #373B69 !important;
}

.select-single-group .select2.select2-container .select2-selection .select2-selection__arrow {
  background-color: transparent;
  border: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  padding-top: 10px;
}

.select-single-group .select2.select2-container .select2-selection .select2-selection__rendered {
  color: white;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  padding-left: 0px;
}

.select-single-group .select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: transparent;
}

.select-single-group .select2-container .select2-dropdown {
  margin: 10px 0 0 0;
  outline: none;
}

.select-single-group .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  left: auto;
  top: auto;
  -webkit-mask: url(../images/icons/dropdown-arrow.svg) no-repeat 50% 50%;
  mask: url(../images/icons/dropdown-arrow.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 8px;
  height: 15px;
  fill: #03d8e0;
  background-color: #03d8e0;
}

/* End of select2 single */
/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: #1a1d3c;
  position: absolute;
  z-index: 999;
  width: 100%;
  min-height: 75px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header-div .header-container {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-div .logo-div {
  padding: 0px 10px 0px 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  min-width: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-div .logo-div .logo_link {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-div .logo-div .logo_img {
  width: 50px;
  height: 50px;
}

header .header-div .nav-right-div {
  padding: 0 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  min-width: 75px;
}

header .header-div .nav-right-div .menu-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

header .header-div .nav-right-div .btn.btn-menu {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282b4c;
  border: 1px solid transparent;
}

header .header-div .nav-right-div .btn.btn-menu img.menu-icon {
  width: 32px;
}

header .header-top-root {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header-top-root .logo-div {
  background-color: #282b4c;
}

.center-nav-content-div {
  padding: 5px 15px 5px 15px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  width: calc( 100% - 80px - 80px);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.center-nav-content-div::-webkit-scrollbar {
  background-color: #282b4c;
  width: 4px;
  height: 5px;
  border-radius: 24px;
}

.center-nav-content-div::-webkit-scrollbar-track {
  padding-bottom: 40px;
  background-color: white;
  border-radius: 24px;
}

.center-nav-content-div::-webkit-scrollbar-thumb {
  background: #03d8e0;
  border-radius: 24px;
  border: none;
}

.center-nav-content-div::-webkit-scrollbar-button {
  display: none;
}

.center-nav-content-div .category-nav-header {
  padding: 0;
  margin: 0;
  position: relative;
}

.center-nav-content-div .category-nav-header .category-nav-middle {
  padding: 0px 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-nav-content-div .category-nav-header .category-nav-middle .form-group {
  padding: 0px 0;
  margin: 0 30px 0 0;
}

.center-nav-content-div .category-nav-header .category-nav-middle .form-group label {
  color: #03d8e0;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 0px 0;
}

/* start navigation  **/
.st-pusher {
  position: relative;
  left: 0;
  z-index: 9999;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  min-height: 100vh;
  background: #282b4c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* content style */
.st-menu ul.ul-list {
  margin: 0px 0 0 0;
  padding: 0;
  list-style: none;
}

.st-menu ul.ul-list li a.nav-link {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.st-menu ul.ul-list li a.nav-link:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #fff;
}

.st-menu ul.ul-list li:first-child a {
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu .closemenu-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.st-menu .menu-close-btn {
  padding: 0;
  height: 75px;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(26, 29, 60, 0.2);
  border: 1px solid transparent;
  cursor: pointer;
  border-left: 1px solid #1a1d3c;
  border-right: 1px solid transparent;
  -webkit-transition: 0.65s;
  transition: 0.65s;
}

.st-menu .menu-close-btn:hover, .st-menu .menu-close-btn:focus {
  outline: none;
  background-color: rgba(26, 29, 60, 0.5);
}

.st-menu .menu-close-btn img.close-img {
  width: 20px;
}

.st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

.st-effect-1.st-menu::after {
  display: none;
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

/*  End of navigation  */
/* End of header */
/*  start middle area  */
.main-middle-area {
  padding: 75px 0 0 0;
  margin: 0 0 0 0;
  position: relative;
}

.main-middle-area175 {
  padding: 155px 0 0 0;
}

.main-middle-category-tab {
  padding: 125px 0 0 0;
}

.welcome-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.welcome-section .welcome-div {
  padding: 50px 0;
  margin: 0;
  min-height: calc( 100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-section .welcome-div .welcome-root {
  padding: 30px 30px 20px 30px;
  margin: 0 auto;
  min-height: 500px;
  max-width: 550px;
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(149.32deg, #6f0c3d 0%, #363b72 100%);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
}

.welcome-section .welcome-div .welcome-root .center-box-thumb {
  padding: 20px 0 50px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-section .welcome-div .welcome-root .center-box-thumb .center-logo-img {
  width: 125px;
  max-height: 100px;
}

.welcome-section .welcome-div .welcome-root h6 {
  color: #38dde5;
  font-family: "IBM Plex Mono";
}

.welcome-section .welcome-div .welcome-root h2 {
  margin: 0 0 15px 0;
  color: white;
}

.welcome-section .welcome-div .welcome-root p {
  margin: 0 0 15px 0;
}

.welcome-section .welcome-div .welcome-root .btnrow-div {
  padding: 20px 0 20px 0;
  margin: 0;
}

.custom-modal .modal-dialog {
  max-width: 685px;
  width: 100%;
}

.custom-modal .modal-content {
  border-radius: 24px;
  background-color: #1a1d3c;
  -webkit-box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.19);
          box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.19);
}

.custom-modal .modal-header {
  min-height: 80px;
  background-color: #282b4c;
  border-radius: 24px 24px 0 0;
  border: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
}

.custom-modal .modal-header .close {
  padding: 0;
  margin: 0;
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-modal .modal-header .close img.close-modal {
  width: 20px;
}

.custom-modal .modal-header .close:hover, .custom-modal .modal-header .close:focus {
  background-color: #1a1d3c;
  opacity: 0.7;
  outline: none;
}

.custom-modal .modal-body {
  padding: 20px 30px;
}

.custom-modal-890 .modal-dialog {
  max-width: 890px;
  width: 100%;
}

.modal-backdrop {
  background-color: #0e102b;
  opacity: 0.8;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.custom-form-div {
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.custom-form-div .form-group {
  padding: 0;
  margin: 0 0 30px 0;
}

.custom-form-div .form-group label {
  padding: 0;
  margin: 0 0 5px 0;
  color: #03d8e0;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
  display: block;
}

.custom-form-div .form-group span.info-span {
  padding: 0;
  margin: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: block;
}

.custom-form-div .form-group .form-control {
  min-height: 50px;
  width: 100%;
  padding: 8px 15px 10px 15px;
  color: #0e102b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "DM Sans";
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.94);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px rgba(14, 16, 43, 0.2), 0 0 4px 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px rgba(14, 16, 43, 0.2), 0 0 4px 2px rgba(255, 255, 255, 0.5);
}

.custom-form-div .form-group .form-control:hover, .custom-form-div .form-group .form-control:focus {
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #1a1d3c, 0 0 4px 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #1a1d3c, 0 0 4px 2px rgba(255, 255, 255, 0.5);
}

.custom-form-div .textarea-group textarea.form-control {
  resize: none;
}

.custom-form-div .button-row {
  padding: 0;
  margin: 0 0 0px 0;
}

/* category pages */
.header-center-category-show {
  display: none;
}

.navigation-tabs-root {
  padding: 0 0px 0 0px;
  margin: 0;
  position: absolute;
  top: 75px;
  width: 100%;
  background-color: #282b4c;
  z-index: 99;
  border: none;
  border-top: 2px solid #1a1d3c;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation-tabs-root .nav-tabs {
  padding: 0 75px 0 75px;
  border: none;
}

.navigation-tabs-root .nav-tabs .nav-item {
  margin-bottom: -1px;
  min-width: 25%;
  border-right: 2px solid #1a1d3c;
}

.navigation-tabs-root .nav-tabs .nav-item:first-child {
  border-left: 2px solid #1a1d3c;
}

.navigation-tabs-root .nav-tabs .nav-item .nav-link {
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: transparent;
}

.navigation-tabs-root .nav-tabs .plan-nav-item:hover .nav-link {
  border-bottom: 2px solid #ea2675;
}

.navigation-tabs-root .nav-tabs .plan-nav-item .nav-link.active {
  border-bottom: 2px solid #ea2675;
}

.navigation-tabs-root .nav-tabs .produce-nav-item:hover .nav-link {
  border-bottom: 2px solid #3cdf8e;
}

.navigation-tabs-root .nav-tabs .produce-nav-item .nav-link.active {
  border-bottom: 2px solid #3cdf8e;
}

.navigation-tabs-root .nav-tabs .publish-nav-item:hover .nav-link {
  border-bottom: 2px solid #50c4ff;
}

.navigation-tabs-root .nav-tabs .track-nav-item:hover .nav-link {
  border-bottom: 2px solid #d334ff;
}

.navigation-tabs-root .round-outline {
  padding: 0;
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 100px;
  margin: 0 12px 0 0;
}

.navigation-tabs-root .plan-round-outline {
  border: 2px solid #ea2675;
}

.navigation-tabs-root .produce-round-outline {
  border: 2px solid #3cdf8e;
}

.navigation-tabs-root .publish-round-outline {
  border: 2px solid #50c4ff;
}

.navigation-tabs-root .track-round-outline {
  border: 2px solid #d334ff;
}

.sub-navigation-tabs-root {
  padding: 0 0px 0 0px;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #0e102b;
  z-index: 9;
  border: none;
  border-top: 2px solid #1a1d3c;
}

.sub-navigation-tabs-root .wrap-row-flex {
  padding: 0 75px 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-navigation-tabs-root .sub-nav-left {
  width: 15%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  max-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-navigation-tabs-root .sub-nav-left .title-text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px 0 0px 0;
  border-bottom: 2px solid #282b4c;
}

.sub-navigation-tabs-root .sub-nav-center {
  width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-navigation-tabs-root .sub-nav-right {
  width: 15%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  max-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-navigation-tabs-root .sub-nav-right .publish-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.sub-navigation-tabs-root .sub-nav-right .btn.publish-btn {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #03d8e0;
  color: #0e102b;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #03d8e0;
  cursor: pointer;
  border-radius: 0px;
  min-height: 70px;
}

.sub-navigation-tabs-root .sub-nav-right .btn.publish-btn:disabled {
  opacity: 0.55;
  cursor: pointer;
  cursor: no-drop;
  border: 1px solid transparent;
  color: white;
  background-color: #1a1d3c;
}

.sub-navigation-tabs-root .nav-tabs {
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-navigation-tabs-root .nav-tabs .nav-item {
  margin-bottom: -1px;
  min-width: 25%;
  border-right: 4px solid #0e102b;
}

.sub-navigation-tabs-root .nav-tabs .nav-item:first-child {
  border-left: 4px solid #0e102b;
}

.sub-navigation-tabs-root .nav-tabs .nav-item .nav-link {
  padding: 1.5rem 1rem .625rem 1rem;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  background-color: #1a1d3c;
}

.sub-navigation-tabs-root .nav-tabs .nav-item .nav-link .nav-icon {
  margin: 0 12px 0 0;
  height: 16px;
  width: 16px;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-size: contain;
}

.sub-navigation-tabs-root .nav-tabs .nav-item .nav-link .audio-icon.nav-icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.sub-navigation-tabs-root .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #3cdf8e;
  color: white;
  background-color: #282b4c;
}

.sub-navigation-tabs-root .nav-tabs .plan-nav-item:hover .nav-link {
  border-bottom: 2px solid #ea2675;
}

.sub-navigation-tabs-root .nav-tabs .plan-nav-item .nav-link.active {
  border-bottom: 2px solid #ea2675;
}

.sub-navigation-tabs-root .nav-tabs .produce-nav-item:hover .nav-link {
  border-bottom: 2px solid #3cdf8e;
}

.sub-navigation-tabs-root .nav-tabs .produce-nav-item .nav-link.active {
  border-bottom: 2px solid #3cdf8e;
}

.sub-navigation-tabs-root .nav-tabs .publish-nav-item:hover .nav-link {
  border-bottom: 2px solid #50c4ff;
}

.sub-navigation-tabs-root .nav-tabs .track-nav-item:hover .nav-link {
  border-bottom: 2px solid #d334ff;
}

.sub-navigation-tabs-root .round-outline {
  padding: 0;
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 100px;
  margin: 0 12px 0 0;
}

.sub-navigation-tabs-root .plan-round-outline {
  border: 2px solid #ea2675;
}

.sub-navigation-tabs-root .produce-round-outline {
  border: 2px solid #3cdf8e;
}

.sub-navigation-tabs-root .publish-round-outline {
  border: 2px solid #50c4ff;
}

.sub-navigation-tabs-root .track-round-outline {
  border: 2px solid #d334ff;
}

.container-fluid2 {
  padding-right: 75px;
  padding-left: 75px;
}

.heading-row-div {
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-row-div .title-heading-div {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.heading-row-div .linkbtn-right-div {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.plantopic-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.plantopic-section .plantopic-div {
  padding: 0;
  margin: 0;
}

.plantopic-section .plantopic-div .plantopic-root {
  padding: 0;
  margin: 0;
}

.topic-card-root {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-y: auto;
  max-height: calc( 100vh - 235px);
}

.topic-card-root::-webkit-scrollbar {
  display: none;
  background-color: #282b4c;
  width: 4px;
  border-radius: 24px;
}

.topic-card-root::-webkit-scrollbar-track {
  display: none;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 24px;
}

.topic-card-root::-webkit-scrollbar-thumb {
  display: none;
  background: #03d8e0;
  border-radius: 24px;
  border: none;
}

.topic-card-root::-webkit-scrollbar-button {
  display: none;
}

.topic-card-root .topic-card-row {
  margin: 0 0 20px 0;
  min-height: 110px;
  width: 100%;
  border-radius: 16px;
  background-color: #282b4c;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-card-root .topic-card-row .center-button-div {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 110px;
  width: 100%;
}

.topic-card-root .topic-card-row .center-button-div .btn.btn-big.btn-pink-outline {
  margin: 0 0 0px 0;
  min-height: 42px !important;
  padding: 8px 16px !important;
}

.topic-card-root .topic-card-row .leftside-div {
  width: calc( 100% - 250px);
  padding: 15px;
}

.topic-card-root .topic-card-row .rightside-div {
  width: 250px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-card-root .topic-card-row .rightside-div .btn.btn-remove-filled.btn-full-icon {
  margin: 0 0 0 0;
}

.no-topic-found {
  display: none;
}

.suggested-topics-div {
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 24px;
  background: linear-gradient(149.32deg, #6f0c3d 0%, #363b72 100%);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
  height: calc( 100vh - 175px);
}

.suggested-topics-div .suggested-topics-header {
  padding: 25px 17px;
  margin: 0;
  position: relative;
  background-color: rgba(234, 38, 117, 0.15);
  border-radius: 24px 24px 0 0;
}

.suggested-topics-div .suggested-topics-header .toprow-div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suggested-topics-div .suggested-topics-header .toprow-div h4 span.diamond-icon {
  margin: 0 10px 0 0;
}

.suggested-topics-div .suggested-topics-header .middlerow-div p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 5px 0;
}

.suggested-topics-div .suggested-topics-body {
  padding: 0px 0px;
  margin: 0;
  position: relative;
  border-radius: 0 0 24px 24px;
}

.suggested-topics-div .suggested-topics-body .suggested-scroll-bar {
  overflow-y: auto;
  max-height: calc( 100vh - 305px);
  border-radius: 0 0 24px 24px;
}

.suggested-topics-div .suggested-topics-body .suggested-scroll-bar::-webkit-scrollbar {
  display: none;
  background-color: #282b4c;
  width: 4px;
  border-radius: 24px;
}

.suggested-topics-div .suggested-topics-body .suggested-scroll-bar::-webkit-scrollbar-track {
  display: none;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 24px;
}

.suggested-topics-div .suggested-topics-body .suggested-scroll-bar::-webkit-scrollbar-thumb {
  display: none;
  background: #03d8e0;
  border-radius: 24px;
  border: none;
}

.suggested-topics-div .suggested-topics-body .suggested-scroll-bar::-webkit-scrollbar-button {
  display: none;
}

.suggested-topics-div .suggested-topics-body .suggested-scroll-bar::after {
  border-radius: 0 0 0px 24px;
  content: " ";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 59, 114, 0.04)), color-stop(83.21%, rgba(54, 59, 114, 0.9)), to(#363B72));
  background: linear-gradient(180deg, rgba(54, 59, 114, 0.04) 0%, rgba(54, 59, 114, 0.9) 83.21%, #363B72 100%);
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0;
  bottom: 0;
  border-radius: 0 0 24px 24px;
}

.suggested-topics-div .suggested-topics-body .stopic-row {
  padding: 25px 20px 25px 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.suggested-topics-div .suggested-topics-body .stopic-row .card50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  min-height: 135px;
  max-width: 50%;
  padding: 0px 0px 0 20px;
  margin: 0 0 20px 0;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box {
  padding: 15px 15px 15px 15px;
  margin: 0;
  border-radius: 16px;
  background-color: rgba(14, 16, 43, 0.3);
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .title-heading {
  padding: 5px 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 70px;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .title-heading h5 {
  padding: 0;
  margin: 0 0 10px 0;
  line-height: 24px;
  width: 100%;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .bottom-stopic-box {
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .bottom-stopic-box .p-small {
  padding: 0 15px 0 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .bottom-stopic-box .btn.btn-pink-outline {
  margin: 0 0 0px 0;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .btn-pinkwhite-outline {
  color: white;
  min-width: auto;
  padding: 4px 15px 4px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .btn-pinkwhite-outline .rightarrow-icon {
  margin: 1px 0 0 10px;
  height: 12px;
  width: 15px;
}

/* End of category pages */
.format-root {
  padding: 0;
  margin: 0 -15px 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.format-root .format-box {
  padding: 0 15px 0 0;
  margin: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.format-root .format-box .format-checkbox {
  padding: 0;
  margin: 0;
  border-radius: 16px;
  background-color: #282b4c;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.format-root .format-box .format-checkbox .icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px 10px 15px;
}

.format-root .format-box .format-checkbox .icons-div span.icon-back {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #1a1d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.format-root .format-box .format-checkbox input.checkbox-input {
  opacity: 0;
}

.format-root .format-box .format-checkbox .title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}

.format-root .format-box .format-checkbox .title-div h4 {
  margin: 0 0 2px 0;
  text-decoration: underline;
  line-height: 28px;
}

.format-root .format-box .format-checkbox.active {
  border: 2px solid #03d8e0;
  background-color: #0e102b;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.format-root .format-box .format-checkbox.active .title-div h4 {
  text-decoration: none;
}

.input_fields_wrap .form-control {
  margin: 0 0 0 0;
}

.add-input-group-box {
  position: relative;
  margin: 0px 0 15px 0;
}

.add-input-group-box .form-control {
  margin: 0 0 0 0;
  padding-left: 40px !important;
  padding-right: 38px !important;
}

.add-input-group-box .list-icon.icon-span {
  position: absolute;
  top: 17px;
  left: 15px;
}

.add-input-group-box .remove_field {
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 10px;
  margin: 0;
  padding: 5px 5px;
}

.tab-content-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.tab-content-section .tab-content-div {
  padding: 0;
  margin: 0;
}

.tab-content-section .tab-content-div .tab-content {
  padding: 60px 0 20px 0;
  margin: 0;
  position: relative;
}

.tab-content-section .tab-content-div .dark-card-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 250px;
  border-radius: 16px;
  background-color: #282b4c;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.tab-content-section .tab-content-div .dark-card-div .generate-script-div {
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-content-section .tab-content-div .dark-card-div .generate-script-top {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.tab-content-section .tab-content-div .dark-card-div .generate-script-top .icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px 15px 15px;
}

.tab-content-section .tab-content-div .dark-card-div .generate-script-top .icons-div span.icon-back {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #1a1d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab-content-section .tab-content-div .dark-card-div .generate-script-top .title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}

.tab-content-section .tab-content-div .dark-card-div .generate-script-top .title-div h4 {
  margin: 0 0 2px 0;
  text-decoration: underline;
  line-height: 28px;
}

/* drag */
.section-view-data {
  /* .dz-preview { background: #F7F7F8; width: 100%; min-height: 60px; max-height: 60px; padding: 0; display: flex; align-items: center; margin: 0 0 0px 0 !important;    border: none; }
    a.dz-remove { 
        position: absolute; top: 0; right: 10px; z-index: 33; color: $dark-color3 !important; background-color: transparent !important; background: none !important; height: 60px; vertical-align: top; display: flex; align-items: center; justify-content: center; margin: 0; font-size: 24px; cursor: pointer;
        i{ cursor: pointer; }
        &:hover{
            text-decoration: none;
        }
    }
    .dz-preview .dz-details { background-color: transparent; width: 100% !important; text-align: left; margin: -10px 0 0 0 !important; padding: 0 10px !important; height: 100% !important; display: flex; min-height: 30px; vertical-align: top; opacity: 1; }
    */
}

.section-view-data .drop-view-data {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.section-view-data .drop-view-data .drop-files {
  padding: 0;
  margin: 0;
  position: relative;
}

.section-view-data .drop-view-data .drop-files .drop-file-row {
  padding: 0;
  margin: 0;
}

.section-view-data .drop-view-data .drop-files .dz-preview {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-color: #373B69;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.section-view-data .drop-view-data .drop-files .dz-preview .dz-image {
  display: inline-block;
}

.section-view-data .drop-view-data .drop-files .dz-preview .dz-image img {
  height: 58px;
  width: 90px;
  border: 2px solid white;
  border-radius: 8px;
}

.section-view-data .drop-view-data .drop-files .dz-preview .dz-details {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section-view-data .drop-view-data .drop-files .dz-preview .dz-size {
  opacity: 0.8;
  color: white;
  font-family: "IBM Plex Mono";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.section-view-data .drop-view-data .drop-files .dz-preview .dz-filename {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 20px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
  line-height: 28px;
}

.section-view-data .drop-view-data .drop-files .dz-preview a.dz-remove {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #1a1d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.section-view-data .drop-view-data .drop-files .dz-preview a.dz-remove .delete-icon.delete-remove-icon {
  height: 16px;
  width: 16px;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.section-view-data .drop-view-data .drop-files .dz-success-mark {
  opacity: 0;
}

.section-view-data .drop-view-data .drop-files .dz-error-mark {
  opacity: 0;
}

.section-view-data .drop-view-data .drop-files .dz-error-message {
  opacity: 0;
}

.dropbox-center-div {
  width: 100%;
  z-index: 2;
}

.dropbox-center-div .drag-drop-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dropbox-center-div .drag-drop-center form.dropzone {
  max-height: calc(100vh - 250px);
  min-height: 250px;
  overflow-y: auto;
  width: 100%;
  border: none;
  padding: 0;
}

.dropbox-center-div .drag-drop-center form.dropzone::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dropbox-center-div .drag-drop-center form.dropzone::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px;
}

.dropbox-center-div .drag-drop-center form.dropzone::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(45deg, #014AEA, #0281F6);
  border-radius: 5px;
}

.dropbox-center-div .drag-drop-center form.dropzone .dz-preview {
  background: #F7F7F8;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0px 0 !important;
  border: none;
}

.dropbox-center-div .drag-drop-center form.dropzone .dz-image {
  display: none;
  height: 60px !important;
  width: 60px !important;
  border-radius: 0px !important;
  background-color: #eee !important;
}

.dropbox-center-div .drag-drop-center form.dropzone a.dz-remove {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 33;
  color: #282b4c !important;
  background-color: transparent !important;
  background: none !important;
  height: 60px;
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 24px;
  cursor: pointer;
}

.dropbox-center-div .drag-drop-center form.dropzone a.dz-remove i {
  cursor: pointer;
}

.dropbox-center-div .drag-drop-center form.dropzone a.dz-remove:hover {
  text-decoration: none;
}

.dropbox-center-div .drag-drop-center form.dropzone .dz-preview .dz-details {
  background-color: transparent;
  width: 100% !important;
  text-align: left;
  margin: -10px 0 0 0 !important;
  padding: 0 10px !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  vertical-align: top;
  opacity: 1;
}

.dropbox-center-div .drag-drop-center .dropzone-100 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropbox-center-div .drag-drop-center .dropzone-100 span.note.needsclick {
  font-size: 14px;
  color: #0b0f32;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

.dropbox-center-div .drag-drop-center .dropzone-100 .dz-message {
  margin: 0px 0;
}

.dropbox-center-div .drag-drop-center .dropzone-100 .generate-script-top {
  min-height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropbox-center-div .drag-drop-center .dropzone-100 .drag-div-file {
  min-height: 92px;
  width: 100%;
  border: 1px dashed #e3e4e9;
  border-radius: 0 0 16px 16px;
  background-color: #1a1d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropbox-center-div .drag-drop-center .dropzone-100 .drag-div-file h4 {
  margin: 0 0 0 0;
  text-decoration: underline;
  line-height: 28px;
}

.dropbox-center-div .drag-drop-center .dropzone .dz-preview .dz-success-mark, .dropbox-center-div .drag-drop-center .dropzone-previews .dz-preview .dz-success-mark {
  display: none !important;
}

.dropbox-center-div .drag-drop-center .dropzone .dz-preview.dz-error .dz-error-mark, .dropbox-center-div .drag-drop-center .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: none !important;
}

.script-format-root {
  padding: 0;
  margin: 0 -15px 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.script-format-root .format-box {
  padding: 0 15px 0 0;
  margin: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 175px;
}

.script-format-root .format-box .format-radio {
  padding: 15px 10px 10px 10px;
  margin: 0;
  border-radius: 16px;
  background-color: #282b4c;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.script-format-root .format-box .format-radio .icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px 12px 15px;
}

.script-format-root .format-box .format-radio .icons-div span.icon-back {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: #1a1d3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.script-format-root .format-box .format-radio span.round-outline-box {
  height: 48px;
  width: 48px;
  border: 2px solid #3cdf8e;
  border-radius: 42.5px;
}

.script-format-root .format-box .format-radio input.radio-input {
  opacity: 0;
}

.script-format-root .format-box .format-radio .title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.script-format-root .format-box .format-radio .title-div h4 {
  margin: 0 0 2px 0;
  line-height: 28px;
  text-align: center;
}

.script-format-root .format-box .format-radio.active {
  border: 2px solid #03d8e0;
  background-color: #0e102b;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.script-format-root .format-box .format-radio.active .title-div h4 {
  text-decoration: none;
}

.tab-content-section .audio-tab .audio-cards {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: auto;
  border-radius: 16px;
  background-color: #282b4c;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.tab-content-section .audio-tab .audio-cards .audio-card-one {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab-content-section .audio-tab .audio-cards .audio-card-one .videolist-title h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.tab-content-section .audio-tab .audio-cards .audio-card-one .videolist-audiotab {
  padding: 8px;
  border-radius: 8px;
  background-color: #373B69;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tab-content-section .audio-tab .audio-cards .audio-card-one .videolist-audiotab .videolist-thumb {
  height: 58px;
  width: 89px;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
}

.tab-content-section .audio-tab .audio-cards .audio-card-one .videolist-audiotab .videolist-thumb img {
  width: 100%;
}

.tab-content-section .audio-tab .audio-cards .audio-card-one .videolist-audiotab .videolist-content {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
}

.tab-content-section .audio-tab .audio-cards .audio-card-one .videolist-audiotab .videolist-content a {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.tab-content-section .audio-tab .dark-card-audio {
  min-height: 155px;
  border-radius: 16px 16px 0 0;
}

.tab-content-section .audio-tab .dark-card-audio .generate-script-audio {
  min-height: 155px;
}

.tab-content-section .audio-tab .generate-script-audio-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 36px 16px 16px 16px;
}

.tab-content-section .audio-tab .generate-script-audio-footer h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.tab-content-section .audio-tab .generate-script-audio-footer .genratescript-list {
  padding: 11px 8px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #373B69;
  border-radius: 8px;
}

.tab-content-section .audio-tab .generate-script-audio-footer .genratescript-list .script-left a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  color: #FFFFFF;
}

/*  End of middle area  */
@media (min-width: 1025px) and (max-width: 1400px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  p.small-text {
    font-size: 10px;
  }
  .container-fluid2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row {
    padding: 25px 15px 25px 0;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row .card50 {
    padding: 0px 0px 0 15px;
    margin: 0 0 15px 0;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row .stopic-box {
    padding: 15px 10px 15px 10px;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row .stopic-box .btn-pinkwhite-outline {
    padding: 4px 5px 4px 10px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  /* stylesheet */
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  p.small-text {
    font-size: 10px;
  }
  .container-fluid2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-middle-area175 {
    padding: 125px 0 20px 0;
  }
  .main-middle-category-tab {
    padding: 190px 0 20px 0;
  }
  .colorrow-div {
    display: block;
    margin: 30px 0 0px 0;
  }
  .colorrow-div h3 {
    margin: 0 0 5px 0;
  }
  .colorrow-div .colorbox-col {
    padding: 0 0px 30px 0;
  }
  .colorrow-div .colorbox-col:last-child {
    padding: 0 0px 0px 0;
  }
  .stylesheet-section .stylesheet-div .colorbox-root {
    padding: 10px 0 0 0;
  }
  .stylesheet-section .typography-section {
    margin: 60px 0 0 0;
  }
  .stylesheet-section .typography-section .typography-root {
    padding: 40px 0 0 0;
  }
  .stylesheet-section .typography-section .typography-root .typography-row-div .d-flex {
    display: block !important;
  }
  .stylesheet-section .element-root .containers-box-root {
    height: 250px;
    width: 80%;
    margin-bottom: 90px;
  }
  .stylesheet-section .element-root .containers-box-root .four-card-box {
    bottom: -95px;
    right: -90px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .stylesheet-section .element-root .border-box-root {
    margin: 30px 0 50px 0;
  }
  /* End of stylesheet */
  header .center-nav-content-div.display-desktop-center {
    display: none;
  }
  .header-center-category-show {
    display: block;
  }
  .center-nav-content-div {
    margin: 0 0 25px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .center-nav-content-div .category-nav-header {
    width: 100%;
  }
  .center-nav-content-div .category-nav-header .category-nav-middle {
    padding: 0px 0;
    margin: 0 0 20px 0;
    display: block;
  }
  .center-nav-content-div .category-nav-header .category-nav-middle .form-group {
    margin: 10px 0 20px 0;
  }
  .welcome-section .welcome-div .welcome-root {
    padding: 20px 20px 20px 20px;
    min-height: auto;
  }
  .welcome-section .welcome-div .welcome-root .center-box-thumb {
    padding: 20px 0 30px 0;
  }
  .welcome-section .welcome-div .welcome-root h2 {
    margin: 0 0 10px 0;
  }
  .custom-modal .modal-dialog {
    margin: 0;
    padding: 10px;
  }
  .custom-modal .modal-header {
    min-height: 65px;
    padding: 10px 20px;
  }
  .custom-modal .modal-header .close {
    height: 36px;
    width: 36px;
  }
  .custom-modal .modal-header .close img.close-modal {
    width: 14px;
  }
  .custom-modal .modal-title {
    margin-bottom: 0;
    line-height: 24px;
    font-size: 18px;
  }
  .custom-modal .modal-body {
    padding: 20px 20px;
  }
  .custom-modal .modal-body .btn.btn-custom2 {
    font-size: 18px;
    min-height: 50px;
  }
  .navigation-tabs-root .nav-tabs {
    padding: 0 0px 0 0px;
    border: none;
  }
  .navigation-tabs-root .nav-tabs .nav-item {
    width: 50%;
    border-bottom: 2px solid #1a1d3c;
  }
  /* category section  */
  .heading-row-div {
    display: block;
    margin: 0 0 25px 0;
  }
  .heading-row-div .title-heading-div {
    margin: 0 0 10px 0;
  }
  .topic-card-root .topic-card-row.opacity30, .topic-card-root .topic-card-row.opacity25, .topic-card-root .topic-card-row.opacity20, .topic-card-root .topic-card-row.opacity15 {
    display: none;
  }
  .suggested-topics-div {
    height: 100%;
  }
  .suggested-topics-div .suggested-topics-body .suggested-scroll-bar {
    max-height: 100%;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row {
    padding: 20px 15px 0px 0;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row .card50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    min-height: auto;
    max-width: 100%;
    padding: 0px 0px 0 15px;
    margin: 0 0 10px 0;
  }
  .topic-card-root {
    margin: 0 0 15px 0;
  }
  .topic-card-root .topic-card-row {
    display: block;
    padding: 5px 0;
    margin: 0 0 10px 0;
  }
  .topic-card-root .topic-card-row .leftside-div {
    width: 100%;
    padding-bottom: 5px;
  }
  .topic-card-root .topic-card-row .rightside-div {
    width: 100%;
    padding-top: 5px;
  }
  .format-root .format-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin: 0 0 15px 0;
  }
  /* End of category section  */
  .sub-navigation-tabs-root {
    border-top-width: 0px;
  }
  .sub-navigation-tabs-root .wrap-row-flex {
    padding: 0 0px 0 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .sub-navigation-tabs-root .sub-nav-left {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub-navigation-tabs-root .sub-nav-left .title-text-div {
    padding: 15px 15px 0px 15px;
    margin: 0 0 15px 0;
  }
  .sub-navigation-tabs-root .sub-nav-center {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub-navigation-tabs-root .sub-nav-right {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 0 0;
  }
  .sub-navigation-tabs-root .nav-tabs .nav-item {
    min-width: 50%;
    border-right-width: 2px;
    margin-bottom: 0px;
  }
  .sub-navigation-tabs-root .nav-tabs .nav-item:first-child {
    border-left-width: 2px;
  }
  .script-format-root .format-box {
    padding: 0 15px 0 0;
    margin: 0 0 10px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* stylesheet */
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  p.small-text {
    font-size: 10px;
  }
  .container-fluid2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-middle-area175 {
    padding: 100px 0 20px 0;
  }
  .main-middle-category-tab {
    padding: 150px 0 20px 0;
  }
  .custom-modal-890 .modal-dialog {
    max-width: 700px;
    width: 100%;
  }
  .header-center-category-show {
    display: block;
  }
  .header-center-category-show .center-nav-content-div {
    min-width: 100%;
    margin: 0 0 20px 0;
  }
  .center-nav-content-div {
    margin: 0 0 25px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .center-nav-content-div .category-nav-header {
    width: 100%;
  }
  .center-nav-content-div .category-nav-header .category-nav-middle {
    padding: 0px 0;
    margin: 0 0 0px 0;
  }
  .center-nav-content-div .category-nav-header .category-nav-middle .form-group {
    margin: 10px 0px 20px 35px;
    width: 50%;
  }
  .center-nav-content-div .category-nav-header .category-nav-middle .form-group:first-child {
    margin: 10px 0px 20px 0px;
  }
  .colorrow-div {
    display: block;
    margin: 30px 0 0px 0;
  }
  .colorrow-div h3 {
    margin: 0 0 5px 0;
  }
  .colorrow-div .colorbox-col {
    padding: 0 0px 30px 0;
  }
  .colorrow-div .colorbox-col:last-child {
    padding: 0 0px 0px 0;
  }
  .stylesheet-section .stylesheet-div .colorbox-root {
    padding: 10px 0 0 0;
  }
  .stylesheet-section .typography-section {
    margin: 60px 0 0 0;
  }
  .stylesheet-section .typography-section .typography-root {
    padding: 40px 0 0 0;
  }
  .stylesheet-section .typography-section .typography-root .typography-row-div .d-flex {
    display: block !important;
  }
  .stylesheet-section .element-root .containers-box-root {
    height: 250px;
    width: 65%;
    max-width: 400px;
    margin-bottom: 90px;
  }
  .stylesheet-section .element-root .containers-box-root .four-card-box {
    bottom: -95px;
    right: -90px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .stylesheet-section .element-root .border-box-root {
    margin: 30px 0 50px 0;
  }
  /* End of stylesheet */
  .navigation-tabs-root .nav-tabs {
    padding: 0 0px 0 0px;
    border: none;
  }
  .navigation-tabs-root .nav-tabs .nav-item {
    width: 25%;
    border-bottom: 2px solid #1a1d3c;
  }
  .navigation-tabs-root .nav-tabs .nav-item .nav-link {
    font-size: 14px;
    line-height: 22px;
  }
  /* category section  */
  .topic-card-root .topic-card-row.opacity30, .topic-card-root .topic-card-row.opacity25, .topic-card-root .topic-card-row.opacity20, .topic-card-root .topic-card-row.opacity15 {
    display: none;
  }
  .suggested-topics-div {
    height: 100%;
    margin: 0 0 0px 0;
  }
  .suggested-topics-div .suggested-topics-body .suggested-scroll-bar {
    max-height: 100%;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row {
    padding: 25px 20px 5px 0;
  }
  .sub-navigation-tabs-root .wrap-row-flex {
    padding: 15px 0px 0 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .sub-navigation-tabs-root .sub-nav-left {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub-navigation-tabs-root .sub-nav-left .title-text-div {
    padding: 15px 15px 0px 15px;
    margin: 0 0 15px 0;
  }
  .sub-navigation-tabs-root .sub-nav-center {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub-navigation-tabs-root .sub-nav-right {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 0 0;
  }
  .sub-navigation-tabs-root .nav-tabs .nav-item {
    min-width: 25%;
    border-right-width: 2px;
    margin-bottom: 0px;
  }
  .sub-navigation-tabs-root .nav-tabs .nav-item:first-child {
    border-left-width: 2px;
  }
  /* End of category section  */
}

@media (min-width: 1024px) and (max-width: 1366px) {
  /* category section  */
  .topic-card-root .topic-card-row.opacity30, .topic-card-root .topic-card-row.opacity25, .topic-card-root .topic-card-row.opacity20, .topic-card-root .topic-card-row.opacity15 {
    display: block;
  }
  .suggested-topics-div {
    margin: 0 0 0px 0;
    height: calc( 100vh - 175px);
  }
  .suggested-topics-div .suggested-topics-body .suggested-scroll-bar {
    max-height: calc( 100vh - 325px);
  }
  .suggested-topics-div .suggested-topics-body .stopic-row {
    padding: 20px 15px 0px 0;
  }
  .suggested-topics-div .suggested-topics-body .stopic-row .card50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    min-height: auto;
    max-width: 100%;
    padding: 0px 0px 0 15px;
    margin: 0 0 15px 0;
  }
  /* End of category section  */
}
/*# sourceMappingURL=custom-old.css.map */