@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Karla:400,400i,700,700i&display=swap);
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  /* font-family: 'Dosis', sans-serif; */
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
  cursor: url("../images/icons/circle-outline.svg"), pointer;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/*  general css */
.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

/*  */
h1 {
  padding: 0;
  margin: 0;
  font-size: 42px;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

h5 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

h6 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.position-initial {
  position: initial;
}

/* Button */
.btn.btn-outline1 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 5px 20px;
  min-height: 36px;
  margin: 0 0px 0px 0px;
  text-align: center;
  border: 1px solid #0b273c;
  text-decoration: none;
  color: #0b273c;
  white-space: nowrap;
  z-index: 0;
  border-radius: 25px;
  font-weight: 600;
  background: transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn.btn-outline1:hover, .btn.btn-outline1:focus {
  border: 1px solid #53cdfc;
  -webkit-box-shadow: 0 5px 16px rgba(83, 205, 252, 0.5), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 3px rgba(255, 255, 255, 0.4);
          box-shadow: 0 5px 16px rgba(83, 205, 252, 0.5), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 3px rgba(255, 255, 255, 0.4);
}

.btn.btn-outline2 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 5px 15px;
  min-width: 80px;
  min-height: 36px;
  margin: 0 0px 0px 0px;
  text-align: center;
  border: 2px solid #53cdfc;
  text-decoration: none;
  color: #0b273c;
  white-space: nowrap;
  z-index: 0;
  border-radius: 25px;
  font-weight: 600;
  background: transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-box-shadow: 0 5px 16px rgba(83, 205, 252, 0.5), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 3px rgba(255, 255, 255, 0.4);
          box-shadow: 0 5px 16px rgba(83, 205, 252, 0.5), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 3px rgba(255, 255, 255, 0.4);
}

.btn.btn-outline2:hover, .btn.btn-outline2:focus {
  color: white;
  background: #53cdfc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-gradiant {
  padding: 0 30px;
  margin: 0;
  border: 0px solid #2C7BE5;
  background-image: linear-gradient(205deg, #00bbe1, #2C7BE5);
  background-color: #2C7BE5;
  color: white;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 16px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-gradiant:hover, .btn.btn-gradiant:focus {
  background-color: rgba(39, 164, 248, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
          box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
}

.btn-link {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #2C7BE5;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #2C7BE5;
  bottom: -2px;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link:hover, .btn-link:focus {
  color: #0C406B;
}

.btn-link:hover::after, .btn-link:focus::after {
  background-color: #0C406B;
  width: 100%;
}

/* End of Button */
.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #2C7BE5;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #0C406B;
}

.return-to-top:hover i {
  color: white;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div.scrollUp {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  background-color: white;
}

header .fixed_top.header-div .top-nav1 {
  padding: 10px 0 20px 0;
}

header .fixed_top.header-div .ullist-inline li .nav-link {
  color: #00A685;
}

header .fixed_top.header-div .scroll-logo {
  display: block;
}

header .header-div.header-bgcolor {
  padding: 0;
  margin: 0;
  background-color: white;
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-height: 75px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

header .header-div.header-bgcolor .logo_img {
  width: 120px;
}

header .header-div.header-bgcolor .logo-div {
  min-height: 75px;
}

header .header-div.header-bgcolor .nav-center-div {
  min-height: 75px;
}

header .header-div.header-bgcolor .header-right-div {
  min-height: 75px;
}

header .header-div.header-bgcolor .logo_img.text-logo {
  display: block;
  width: auto;
  height: 40px;
}

header .header-div.header-bgcolor .ullist-inline li .nav-link {
  color: #275C89;
}

header .header-div.header-bgcolor .ullist-inline li .nav-link:hover {
  color: #2C7BE5;
}

header .header-div.header-bgcolor .ullist-inline li.active .nav-link {
  color: white;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: #e4f7fe;
  position: absolute;
  z-index: 9999;
  width: 100%;
  min-height: 80px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

header .header-div .nav-center-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 80px;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 170px;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 35px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li.nav-item.dropdown.btn-user-dropdown {
  margin: 0;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 0 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: #0b273c;
  padding: 10px 0px 3px 0;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li.btn-li {
  margin: 0 20px 0 0;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #53cdfc;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: #53cdfc;
}

header .header-div .ullist-inline li.active .nav-link {
  color: #53cdfc;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #53cdfc;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 145px;
  border-radius: 0px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 5px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart {
  padding: 5px 10px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

header .header-div .ullist-inline .btn.btn-gradiant2.btn-mycart span.count-span {
  background-color: #003E89;
  margin: 0 0 0 10px;
  border-radius: 100%;
  height: 27px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  letter-spacing: -1px;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

/* End of header */
/* banner */
.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.banner-section .banner-div .bannerleft-6 {
  padding: 0;
}

.banner-section .banner-div .bannerright-6 {
  padding: 0;
  position: initial;
}

.banner-section .banner-div .height-100 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-section .banner-div .height-100 .content-banner h1 {
  text-align: left;
}

.banner-section .banner-div .max-container-container {
  position: absolute;
  bottom: 30px;
  width: auto;
  left: 0;
  margin: 0 0 0 25px;
}

.banner-section .banner-div .max-container-container .text-downscroll {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner-section .banner-div .max-container-container .text-downscroll .scroll-to-bottom {
  color: #6E84A3;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.banner-section .banner-div .max-container-container .text-downscroll .scroll-to-bottom:hover, .banner-section .banner-div .max-container-container .text-downscroll .scroll-to-bottom:focus {
  color: #275C89;
}

.banner-section .banner-div .max-container-container .text-downscroll .cursor-span {
  -webkit-mask: url(../images/icons/cursor.svg) no-repeat 50% 50%;
  mask: url(../images/icons/cursor.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 12px;
  height: 15px;
  color: #275C89;
  fill: #275C89;
  background-color: #275C89;
  margin: 0 10px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner-section .banner-div .content-banner {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-section .banner-div .content-banner .text-content {
  max-width: 100%;
  padding: 0 25px;
}

.banner-section .banner-div .content-banner h1 {
  padding: 0;
  margin: 0 0 35px 0;
  color: #0C406B;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.banner-section .banner-div .content-banner p {
  padding: 0;
  margin: 0 0 30px 0;
  color: #6E84A3;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.banner-section .banner-div .content-banner .span-block {
  display: block;
}

.banner-section .banner-div .side-img-banner {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  max-width: 44%;
  min-height: 100%;
}

.banner-section .banner-div .side-img-banner img.banner-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  max-height: 100vh;
}

/* End of banner */
/* Inner Pages  **/
/* end of home page */
@media (min-width: 1025px) {
  header .header-div .ullist-inline .dropdown-menu {
    margin: 35px 0 0 0px;
    left: auto !important;
    right: 0;
  }
  header .header-div .ullist-inline .dropdown-menu:before {
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid white;
    border-right: 10px solid #ffffff;
    display: inline-block;
    position: absolute;
    top: -19px;
    right: -1px;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu {
    border: none;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu::before {
    top: -19px;
    right: 0px;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu ul {
    margin-right: 1px;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  header .header-div {
    min-height: 70px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 150px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: #e4f7fe;
    overflow-x: hidden;
    padding-top: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #0b273c !important;
    background-color: transparent;
    border-radius: 0 0 0 0px;
    top: 0;
    min-width: 45px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 5px;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin: 15px 10px 0 10px;
    margin-right: 0px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #53cdfc;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    width: 300px;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #0C406B;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #0C406B !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #2C7BE5 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div .ullist-inline li.btn-li {
    margin: 10px 15px 10px 15px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  .btn.btn-outline1 {
    width: 100%;
    min-height: 42px;
  }
  .btn.btn-outline2 {
    width: 100%;
    min-height: 42px;
  }
  .banner-section .banner-div .content-banner {
    z-index: 2;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 25px 0;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .max-container-container {
    margin: 0 0 0 15px;
  }
  .banner-section .banner-div .side-img-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .banner-section .banner-div .side-img-banner img.banner-img {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
  /********/
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .header-div {
    min-height: 70px;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 150px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: #e4f7fe;
    overflow-x: hidden;
    padding-top: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #0b273c !important;
    background-color: transparent;
    border-radius: 0 0 0 0px;
    top: 0;
    min-width: 45px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 5px;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin: 15px 10px 0 10px;
    margin-right: 0px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #53cdfc;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    width: 300px;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #0C406B;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #0C406B !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #2C7BE5 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div .ullist-inline li.btn-li {
    margin: 10px 15px 10px 15px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  .btn.btn-outline1 {
    width: 100%;
    min-height: 42px;
  }
  .btn.btn-outline2 {
    width: 100%;
    min-height: 42px;
  }
  .banner-section .banner-div .content-banner {
    z-index: 2;
  }
  .banner-section .banner-div .content-banner h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 25px 0;
  }
  .banner-section .banner-div .content-banner .text-content {
    padding: 0 15px;
  }
  .banner-section .banner-div .max-container-container {
    margin: 0 0 0 15px;
  }
  .banner-section .banner-div .side-img-banner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .return-to-top {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .return-to-top i {
    font-size: 14px !important;
  }
}
/*# sourceMappingURL=style.css.map */