@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Karla:400,400i,700,700i&display=swap);

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$brand-color1: rgb(79, 204, 252);
$brand-color2: rgb(11, 39, 60);
$brand-color3: rgb(228, 247, 254);

$subcolor1: rgb(102, 237, 143);
$subcolor2: rgb(241, 178, 23);
$subcolor3: rgb(74, 216, 194);
$subcolor4: rgb(237, 27, 74);
$subcolor5: rgb(180, 46, 237);
$subcolor6: rgb(196, 248, 212);
$subcolor7: rgb(238, 217, 164);
$subcolor8: rgb(189, 249, 241);
$subcolor9: rgb(228, 176, 188);
$subcolor10: rgb(218, 179, 236);

$color1: rgb(83, 205, 252);



/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; /* font-family: 'Dosis', sans-serif; */
}
body { 
    font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: 'Karla', sans-serif; scroll-behavior: smooth; 
    cursor: url("../images/icons/circle-outline.svg"), pointer;  	
}

.wrapper { background-color: $white-color; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.5s ease-in-out; }

.container { max-width: 1200px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px; }
.p0{ padding: 0px !important; }

/*  */

h1{ padding: 0; margin: 0; font-size: 42px; }
h2{ padding: 0; margin: 0; font-size: 36px; }
h3{ padding: 0; margin: 0; font-size: 30px; }
h4{ padding: 0; margin: 0; font-size: 24px; }
h5{ padding: 0; margin: 0; font-size: 20px; }
h6{ padding: 0; margin: 0; font-size: 18px; }

.position-initial{ position: initial; }

/* Button */

.btn.btn-outline1{ 
    position: relative; box-sizing: border-box; display: flex; align-items: center; justify-content: center;  overflow: hidden; padding: 5px 20px; min-height: 36px; margin: 0 0px 0px 0px; text-align: center; border: 1px solid  $brand-color2; text-decoration: none; color: $brand-color2; white-space: nowrap; z-index: 0; border-radius: 25px; font-weight: 600; background: $transparent-color; transition: all 0.6s ease;
    &:hover, &:focus{ 
        border:1px solid $color1; box-shadow: 0 5px 16px rgba(83, 205, 252, 0.5), 0 0 15px rgba(255,255,255,0.2), 0 0 3px rgba(255,255,255,0.4);
    }
}
.btn.btn-outline2{ 
    position: relative; box-sizing: border-box; display: flex; align-items: center; justify-content: center; overflow: hidden; padding: 5px 15px; min-width: 80px; min-height: 36px; margin: 0 0px 0px 0px; text-align: center; border: 2px solid  $color1; text-decoration: none; color: $brand-color2; white-space: nowrap; z-index: 0; border-radius: 25px; font-weight: 600; background: $transparent-color; transition: all 0.6s ease;     box-shadow: 0 5px 16px rgba(83, 205, 252, 0.5), 0 0 15px rgba(255,255,255,0.2), 0 0 3px rgba(255,255,255,0.4);
    &:hover, &:focus{ 
        color: $white-color; background: $color1; box-shadow: none;
    }
}


.btn.btn-gradiant{ 
    padding: 0 30px; margin: 0; border: 0px solid #2C7BE5; background-image: linear-gradient(205deg, #00bbe1,  #2C7BE5);  background-color: #2C7BE5; color: $white-color; min-height: 45px; display: flex; align-items: center; justify-content: center; font-weight: 800; font-size: 16px; transition: all 0.8s;
    &:hover, &:focus{ 
     background-color: rgba(39, 164, 248, 0.5);box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
    }
}

.btn-link { padding: 0; margin: 0; width: 100%; font-size: 16px; font-weight: 500; line-height: 30px; color: #2C7BE5; position: relative; transition: 0.8s;
    &::after{ content: ""; position: absolute; width: 40px; height: 1px; background-color: #2C7BE5; bottom: -2px; left: 0;  transition: 0.8s; }

    &:hover, &:focus {
        color: #0C406B; 
        &::after{ background-color: #0C406B; width: 100%; }
    }

}

/* End of Button */

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px; background: #2C7BE5; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
       &:hover { 
        background: #0C406B;
        i { color: $white-color; }
    }
    
}   

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

/*  End of general css */

/* header */

header{
    position: relative;

    .header-div.scrollUp { transform: translateY(-80px); background-color: $white-color; }

    .fixed_top.header-div{

        .top-nav1 { padding: 10px 0 20px 0; }
        .ullist-inline li .nav-link{ color: #00A685; }
        .scroll-logo{ display: block; }
        
    }
    
    .header-div.header-bgcolor { 

        padding: 0; margin: 0; background-color: $white-color; position: fixed; z-index: 9999; width: 100%; min-height: 75px; transition: all 0.5s; top: 0; left: 0; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        
        .logo_img { width: 120px; }
        .logo-div { min-height: 75px; }
        .nav-center-div{ min-height: 75px; }
        .header-right-div{ min-height: 75px; }
        
        
        .logo_img.text-logo{ display: block; width: auto; height: 40px; }
        .ullist-inline li .nav-link { color:  #275C89; }
        .ullist-inline li .nav-link:hover{ color: #2C7BE5; }
        .ullist-inline li.active .nav-link{ color: $white-color; }

        // .btn.btn-blue{ border: 1px solid #27a5f8; background-color: #27a5f8; }

    } 

    .header-div { 

        padding: 0; margin: 0; background-color: $brand-color3; position: absolute; z-index: 9999; width: 100%; min-height: 80px;  transition: all 0.5s;

        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 20%; align-items: center; min-height: 80px; }
        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 80%; align-items: center; justify-content: flex-end; min-height: 80px; }
        
        .main-logo{ display: block; }
        .logo_img{ transition: display ease-in-out 0.5s; width: 170px; }
        
        /* start navigation  **/

        .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; width: 100%;  }
        .inner-top-header-div{ padding: 0;margin: 0; }
        .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }

        .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.2); cursor: pointer; z-index: 99999; display: none; }
        .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

        .display-none{ display: none !important; }
        .nav-div .closebtn { display: none; }

        .ullist-inline { 
            padding: 0 0 2px 0; margin: 0px 0px 0 0; display: flex; align-items: center; min-height: 45px; 
                
            li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
            li.nav-item.dropdown.btn-user-dropdown { margin: 0; }
            li:last-child{ margin: 0 0 0 0; }
            li .nav-link { color: $brand-color2; padding: 10px 0px 3px 0; font-weight: 700; border-bottom: 1px solid transparent; font-size: 18px; line-height: 1.5;  position: relative; display: inline-block; overflow: hidden; }
            li.btn-li{ margin: 0 20px 0 0; }
            li .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background:$color1; transform: translateX(-101%); }
            li .nav-link:hover:before { transform: translateX(0); }
            li .nav-link:before, li .nav-link:after, li .nav-link > span:before, li .nav-link > span:after { content: ''; position: absolute; transition: transform .5s ease; }
            li .nav-link:hover{ color: $color1; }
            li.active .nav-link{ color: $color1; }
            li.active .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $color1; transform: translateX(0%); }
            .dropdown-toggle::after{ display: none; }
            .dropdown-menu{ 
                border: 1px solid #DFEAF1;   min-width: 145px; border-radius: 0px;
                li{ display: block; width: 100%; 
                    a{ 
                        padding: 6px 15px; width: 100%; display: block; margin: 0 0 5px 0; color: rgba(11, 22, 43, 0.5); font-size: 16px; font-weight: 500; transition: 0.5s;
                        &:hover{ background-color: #F2F7F9; color: #0B162B; }
                    }
                    
                }
            }
            .btn.btn-gradiant2.btn-mycart{ 
                padding: 5px 10px; min-height: 48px; display: flex; align-items: center; justify-content: center; text-transform: capitalize;
                span.count-span { background-color: #003E89; margin: 0 0 0 10px; border-radius: 100%; height: 27px; width: 27px; display: flex; align-items: center; justify-content: center; font-size: 16px; letter-spacing: -1px; }
            }

        }

        .nav-m-bar .menu-bars {display: none;}
        
        /*  End of navigation  */

    }

}

/* End of header */

/* banner */

.banner-section{  
    padding: 0; margin: 0; position: relative; 

    .banner-div{ 
        padding: 0; margin: 0; position: relative; background-color: $white-color; display: flex; align-items: center; overflow: hidden;

        .bannerleft-6 { padding: 0; }
        .bannerright-6{ padding: 0; position: initial; }

        .height-100{ 
            height: 100vh; display: flex; align-items: center; 
            .content-banner h1{ text-align: left; }
        }

        .max-container-container { 
            position: absolute; bottom: 30px; width: auto; left: 0; margin: 0 0 0 25px;
            .text-downscroll { position: relative; margin: 0; padding: 0; width: 100%; }
            .text-downscroll .scroll-to-bottom { 
                color: #6E84A3; font-size: 13px; font-weight: 700; transition: 0.5s; display: flex; align-items: center; transition: 0.8s;
                &:hover, &:focus{
                    color: #275C89;
                }
            }
            .text-downscroll .cursor-span { -webkit-mask: url(../images/icons/cursor.svg) no-repeat 50% 50%; mask: url(../images/icons/cursor.svg) no-repeat 50% 50%; -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: cover; width: 12px; height: 15px; color:#275C89; fill: #275C89; background-color: #275C89; margin: 0 10px 0 0; transition: 0.5s; }
        }

        .content-banner{ 
            padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-end; position: relative; width: 100%; height: 100%;
            .text-content{ max-width: 100%; padding: 0 25px; }

            h1{ padding: 0; margin: 0 0 35px 0; color: #0C406B; font-size: 40px; font-weight: 700; line-height: 60px; }
            p{ padding: 0; margin: 0 0 30px 0; color: #6E84A3; font-size: 16px; line-height: 25px; font-weight: 400;  }
            .span-block{ display: block; }
        }

        .side-img-banner{ 
            position: absolute; right: 0; top: 0; width: 100%; flex: 0 0 44%; max-width: 44%;  min-height: 100%;
            img.banner-img { width: 100%; object-fit: cover; height: 100vh; max-height: 100vh; }
        }


    }

}

/* End of banner */

/* Inner Pages  **/


/* end of home page */

@media (min-width: 1025px) {
    
    header .header-div .ullist-inline .dropdown-menu {
        margin: 35px 0 0 0px; left: auto !important; right: 0;
        &:before{ 
            content: ""; border-top: 10px solid $transparent-color; border-left: 10px solid $transparent-color; border-bottom: 10px solid $white-color; border-right: 10px solid #ffffff; display: inline-block; position: absolute; top: -19px; right: -1px;
        }
    }
    header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu{ border: none;
        &::before{ top: -19px; right: 0px; }
        ul { margin-right: 1px; }
    }
  
}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    header{
        .header-div{

            min-height: 70px;

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; }
            .logo-div .logo_link  { width: 150px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $brand-color3;  overflow-x: hidden; padding-top: 80px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $brand-color2 !important; background-color: transparent;  border-radius: 0 0 0 0px; top: 0; min-width: 45px; text-align: center; display: flex; justify-content: center; align-items: center; right: 5px; font-size: 40px; font-weight: 300; line-height: 35px; margin: 15px 10px 0 10px; margin-right: 0px;  }
            .nav-div .closebtn:hover { color: $color1; }
            .nav-div .closebtn { display:block;}

            .width80{ width: 300px;  }
            .opacityon{ opacity: 1;  }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: #0C406B;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color: #0C406B !important; padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: #2C7BE5 !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px;    color: rgba(255, 255, 255, 0.5) !important; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }
            .ullist-inline li.myaccount-count{ margin: 20px 0 0 0; }
            .contact-us-btn.ml-10{ margin: 20px 20px 20px 20px !important; padding: 10px; }

            .ullist-inline li.btn-li{ margin: 10px 15px 10px 15px;   }

        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

    .btn.btn-outline1{ width: 100%; min-height: 42px; }
    .btn.btn-outline2{ width: 100%; min-height: 42px; }

    .banner-section{  
        .banner-div{ 
            
            .content-banner { z-index: 2;
                h1{ font-size: 36px; line-height: 48px; margin: 0 0 25px 0; }
                .text-content { padding: 0 15px; }
            }
            .max-container-container {
                margin: 0 0 0 15px;
            }

            .side-img-banner { flex: 0 0 100%; max-width: 100%; min-height: 100%; position: relative; 
                img.banner-img { height: 100%; max-height: 100%; width: 100%; }
            }   
            
        }
    }

    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }

    /********/

    

}

@media (min-width: 768px) and (max-width: 1024px) {

    header{
        .header-div{

            min-height: 70px;

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; }
            .logo-div .logo_link  { width: 150px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $brand-color3;  overflow-x: hidden; padding-top: 80px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $brand-color2 !important; background-color: transparent;  border-radius: 0 0 0 0px; top: 0; min-width: 45px; text-align: center; display: flex; justify-content: center; align-items: center; right: 5px; font-size: 40px; font-weight: 300; line-height: 35px; margin: 15px 10px 0 10px; margin-right: 0px;  }
            .nav-div .closebtn:hover { color: $color1; }
            .nav-div .closebtn { display:block;}

            .width80{ width: 300px;  }
            .opacityon{ opacity: 1;  }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: #0C406B;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color: #0C406B !important; padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: #2C7BE5 !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px;    color: rgba(255, 255, 255, 0.5) !important; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }
            .ullist-inline li.myaccount-count{ margin: 20px 0 0 0; }
            .contact-us-btn.ml-10{ margin: 20px 20px 20px 20px !important; padding: 10px; }

            .ullist-inline li.btn-li{ margin: 10px 15px 10px 15px;   }

        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

    .btn.btn-outline1{ width: 100%; min-height: 42px; }
    .btn.btn-outline2{ width: 100%; min-height: 42px; }

    .banner-section{  
        .banner-div{ 
            
            .content-banner { z-index: 2;
                h1{ font-size: 36px; line-height: 48px; margin: 0 0 25px 0; }
                .text-content { padding: 0 15px; }
            }

            .max-container-container {
                margin: 0 0 0 15px;
            }

            .side-img-banner { flex: 0 0 100%; max-width: 100%; min-height: 100%; position: relative;  }   
            
        }
    }
        
    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }

}



@media (min-width: 1024px) and (max-width: 1366px) {

  

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}